{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/drugOverview.css' %}">
{% endblock %}

{% block title %}
Narrative Service
{% endblock %}

{% block content %}

    <div class="main_page">
        <h1>Drug Overviews</h1>
        <div class="searchbar">
            <input type="text" id='drugInput' placeholder="Search for Drug...">
            <div onclick="searchDrug()" class="button">
                <img src="{% static 'assets/searchicon.svg' %}">
            </div>
        </div>
        <p>
            Please type in a drug name.
            Drug Overviews generates you structured overviews about active compounds.
        </p>

        <br>

        <p><a href="http://www.pubpharm.de">www.pubpharm.de</a></p>
    </div>

    <noscript>
        <div class="noscript">
            <div>
                This website requires JavaScript enabled to function properly.
            </div>
        </div>
    </noscript>
{% endblock %}

{% block javascript %}
    <script>
    const autocompletion_url = "{% url 'autocompletion' %}";
    const drugOverview_url = "{% url 'drug_overview' %}";
    function searchDrug() {
    var keyword = document.getElementById('drugInput').value;
    if (keyword == "") {
    return;
    }
    window.location = drugOverview_url + "?drug=" + keyword;
    }
    </script>
    <script src="{% static 'js/drugOverviewAutoComplete.js' %}?version=4" type="text/javascript"></script>
{% endblock %}
