{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Statistics per Predicate and Extraction Type{% endblock %}

{% block content %}


    <div class="container margin-top">
        <a href="https://youtu.be/cvzCRBS0P0Y">This video</a> gives a short introduction into our narrative prototype:
        <br>
        <a href="https://youtu.be/cvzCRBS0P0Y"> <img src="{% static 'video_preview.png' %}" width="500"></a>
        <div class="row">
            <div class="col">
                <table id="help_table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" data-sortable="true">Predicate</th>
                        <th scope="col" data-sortable="true">Explanation</th>
                    </tr>
                    </thead>
                    <tbody id="help_table_body">
                    <tr>
                        <td>associated</td>
                        <td>A general relation: Associated describes that two entities are mentioned within the same sentence and connected via a predicate.</td>
                    </tr>
                    <tr>
                        <td>administered</td>
                        <td>Administered describes that some substance (Chemical, Drug, Excipient or Plant Family) is given in a Dosage Form. </td>
                    </tr>
                    <tr>
                        <td>compares</td>
                        <td>Compares describes that some entities are compared.</td>
                    </tr>
                    <tr>
                        <td>decreases</td>
                        <td>Decreases describes that some effect is lowered, e.g., a drug might lower the expression of some target. A search for decreases also includes searches for the inhibits relation.</td>
                    </tr>
                    <tr>
                        <td>induces</td>
                        <td>Induces describes that some effect / expression is increased, e.g., a drug might increase the expression of a disease.</td>
                    </tr>
                    <tr>
                        <td>interacts</td>
                        <td>Interacts describe an interaction between substances and targets. A search for interacts also includes searches for metabolises and inhibits.</td>
                    </tr>
                    <tr>
                        <td>inhibits</td>
                        <td>Inhibits describes an inhibition of some target, e.g., a drug might inhibit some target.</td>
                    </tr>
                    <tr>
                        <td>metabolises</td>
                        <td>Metabolises describes that a target is metabolised by some substance, e.g., a drug might be metabolised by a target.</td>
                    </tr>
                    <tr>
                        <td>method</td>
                        <td>Method describes a relation that involves a method or lab method, e.g., a drug might be analysed via a method.</td>
                    </tr>
                    <tr>
                        <td>treats</td>
                        <td>Treats describe that some disease or species is treated with a substance (Chemical, Drug, Excipient), e.g., a drug might prevent or lower the expression of some disease.</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">

        $("#nav_item_search").removeClass("active");
        $("#nav_item_help").addClass("active");
        $("#nav_item_stats").removeClass("active");

    </script>
{% endblock %}
