<!DOCTYPE html>
<html lang="en">
{% csrf_token %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/../../static/css/../../static/css/news.css' %}" type="text/css"/>

{% endblock %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>

<div id="navbar-header">
</div>
<div id="sections">
</div>

<script type="text/handlebar-template" id="navbar-header-template">
    <!--Navbar-->
    {% verbatim %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">News Summary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="navbar-list">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Role
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="role-dropdown">
                        {{#each roles}}
                        <a class="dropdown-item" href="#" id="{{ dropdownRole this.name}}">{{ this.name }}</a>
                        {{/each}}
                    </div>
                </li>
                {{#each sections}}
                <li class="nav-item" id="{{ navbarItem title}}">
                    <a class="nav-link" href="#{{ toLowerCaseWithoutSpaces this.title}}">{{ this.title }}</a>
                </li>
                {{/each}}
            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="person-drop-button" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Select Person
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"
                     id="person-dropdown">
                    {{#each people}}
                    <a class="dropdown-item" href="#" id="{{ dropdownPerson this}}">{{ this }}</a>
                    {{/each}}
                    <!--                    <a class="dropdown-item" href="#" id="person1">Winston Churchill</a>-->
                    <!--                    <a class="dropdown-item" href="#" id="person2">Leopold III</a>-->
                    <!--                    <a class="dropdown-item" href="#" id="person3">Koningin Wilhemina</a>-->
                    <!--                    <a class="dropdown-item" href="#" id="person4">Hannie Schaft</a>-->
                    <!--                    <a class="dropdown-item" href="#" id="person5">Dwight Eisenhower</a>-->
                    <!--                    <a class="dropdown-item" href="#" id="person6">Prins Bernard</a>-->
                    <!--                    <a class="dropdown-item" href="#" id="person7">Anne Frank</a>-->
                    <!--                    <a class="dropdown-item" href="#" id="person8">Frans Goedhart</a>-->
                    <!--                    <a class="dropdown-item" href="#" id="person9">Simon Vestdijk</a>-->
                </div>
            </div>

            <!--            <form class="form-inline my-2 my-lg-0">-->
            <!--                <input class="form-control mr-sm-2" type="search" placeholder="Person Query" aria-label="Search">-->
            <!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--            </form>-->
        </div>
    </nav>
    {% endverbatim %}
    <!--Navbar-->

    <!--Header-->
    <div id="header-img-wrapper">
        <img src="{% static 'assets/news.png' %}" id="bg-img" alt="Background image">
    </div>
    {% verbatim %}
    <div class="text-center bg-image" id="header-div">

        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">

            <div class="container-fluid mt-5  wrapper">
                <h1 id="headline"></h1>
                <div class="btn-group btn-group-toggle" id="roles-group" role="group" data-toggle="buttons">
                    {{#each roles}}
                    <label class="btn btn-success btn-lg" id="{{ toLowerCaseWithoutSpaces this.name}}">
                        <input type="radio" name="options" id="{{ roleButton this.name}}" autocomplete="off"
                               checked>
                        {{ this.name }}
                    </label>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
    {% endverbatim %}
    <!--Header-->
</script>
<!--Template-->
<script type="text/handlebar-template" id="sections-template">
    <!--Sections-->
    {% verbatim %}
    {{#each sections}}
    <div class="container-fluid ml-5 wrapper" id="{{ toLowerCaseWithoutSpaces title}}">
        <div class="card text-white bg-dark">
            <div class="card-header">{{ title }}</div>
            <div class="card-body">
                <p class="card-text">{{ text }}<br><br><br>{{ text_nl }}</p>
            </div>
            <section class="carousel slide" data-interval="false" data-ride="carousel">

                <div class="row">
                    <div class="col-12 text-md-right lead">
                        <a class="btn btn-default prev" href="" title="go back"
                           onclick="$(this).closest('section').carousel('prev');return false;initializeNewsArticle();">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green"
                                 class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                            </svg>
                        </a>
                        <a class="btn btn-secondary-outline next" href="" title="more"
                           onclick="$(this).closest('section').carousel('next');return false;initializeNewsArticle();">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green"
                                 class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </a>
                    </div>
                </div>


                <div class="carousel-inner">
                    {{#each articlesform}}
                    {{#if @first}}
                    <div class="carousel-item active">
                        <div class="card-deck">
                            {{#each this}}
                            <div class="card h-100 news-article" onclick="window.open('{{ this.url }}', '_blank')">
                                <div class="card-body pt-2">
                                    <h6 class="small text-wide p-b-2">{{ this.newspaper }}</h6>
                                    <h5>{{this.headline}}</h5>
                                    <h6>Fragment: <br> [...]{{this.text}}[...]</h6>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{ else }}
                    <div class="carousel-item">
                        <div class="card-deck">
                            {{#each this}}
                            <div class="card h-100 news-article" onclick="window.open('{{ this.url }}', '_blank')">
                                <div class="card-body pt-2">
                                    <h6 class="small text-wide p-b-2">{{ this.newspaper }}</h6>
                                    <h5>{{this.headline}}</h5>
                                    <h6>Fragment: <br> [...]{{this.text}}[...]</h6>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>

            </section>
        </div>
    </div>
    {{/each}}
    {% endverbatim %}
    <!--Sections-->
</script>
<!--Template-->



{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

    <script src="{% static 'js/news.js' %}?version=2" type="text/javascript"></script>
    <script type="text/javascript">
        const people_url = "{% url 'get_news_data' %}";

    </script>
{% endblock %}
</body>
</html>