{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/drugOverview.css' %}">
{% endblock %}

{% block title %}Narrative Service{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="popup_dummie position-relative vh-95 d-none" id="newsPopup">
        <div class="newsdetail shadow-none m-0">
            <div class="top">
                <a id="paperLink">View Paper</a>
            </div>
            <div class="bottom" id="bottomDiv">
                <div class="checkbox" id="newsCheckbox"></div>
                <div class="paper">
                    <h2 id="paperTitle"></h2>
                    <p class="author" id="paperAuthor"></p>
                    <p class="journal" id="paperJournal"></p>
                    <p class="date" id="paperDate"></p>
                    <p class="abstract" id="paperAbstract"></p>

                    <div id="classifications">
                        <h2 id="classificationHeader">Classifications</h2>
                        <div id="classificationDiv"></div>
                        <p id="classificationInfo"
                           style="margin-top: 10px; font-size:15px;">
                            <em>(1,10) means text passage 1-10</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <noscript>
        <div class="noscript">
            <div>
                This website requires JavaScript enabled to function properly.
            </div>
        </div>
    </noscript>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="{% static 'js/../../static/js/../../static/js/libraries/mark.min.js' %}"></script>
    <script src="{% static 'js/../../static/js/../../static/js/libraries/async.min.js' %}"></script>
    <script src="{% static 'js/paper.js' %}?version=12"></script>
    <script>
        const url_document_graph = "{% url 'document_graph' %}";
        const url_narrative_documents = "{% url 'narrative_documents' %}";
        const url_paper_view_log = "{% url 'paper_view_log' %}";
        const ok_symbol_url = "{% static 'ok.png' %}";
        const cancel_symbol_url = "{% static 'cancel.png' %}";
        const url_document_classification_feedback = "{% url 'document_classification_feedback' %}";

        let search = window.location.search;
        const urlParams = new URLSearchParams(search);
        let document_id = urlParams.get('document_id');
        let data_source = urlParams.get("data_source");
        let currentFullscreenPrefix = null;

        loadGraphTemplate({
            targetContainer: "bottomDiv"
        });

        // register an event if "Escape" is pressed in fullscreen to change network graphs classes properly.
        const fsCloseAction = () => {
            if (document.fullscreenElement == null) toggleFullscreenNetworkGraph(currentFullscreenPrefix, true)
        }
        document.onfullscreenchange = fsCloseAction;
        document.onwebkitfullscreenchange = fsCloseAction;
        document.onmsfullscreenchange = fsCloseAction;

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        queryAndFilterPaperDetail(document_id, data_source);

    </script>
{% endblock %}