{% extends 'base.html' %}
{% csrf_token %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/../../static/css/../../static/css/drugOverview.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/../../static/css/../../static/css/simpleTree.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/../../static/css/../../static/css/ui.css' %}" type="text/css"/>
{% endblock %}

{% block title %}Narrative Service{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <p class="mt-0">
                    If you want to cite our system or are interested in more information, see
                    <a href="https://doi.org/10.1007/s00799-023-00356-3">10.1007/s00799-023-00356-3</a>
                </p>
            </div>
        </div>
    </div>

    <!-- search type selection tabs -->
    <div class="container">
        <ul class="nav nav-tabs border-bottom-0">
            <li class="nav-item" onclick="setKeywordSearchHelp()">
                <a class="nav-link active" data-bs-toggle="tab" href="#search-type-query" role="tab">Query Builder</a>
            </li>
            <li class="nav-item" onclick="setQueryBuilderHelp()">
                <a class="nav-link" data-bs-toggle="tab" href="#search-type-graph" role="tab">Keyword Search</a>
            </li>
            <!--
            <li class="nav-item" onclick="setUpRecommenderSearch()">
                <a class="nav-link" data-bs-toggle="tab" href="#search-type-recommender" role="tab">Recommender
                    (Beta)</a>
            </li>
            -->
        </ul>

        <div class="tab-content">
            <!-- query search -->
            <div class="tab-pane active" id="search-type-query">
                <form action="{% url 'search' %}" id="search_form">
                    {% csrf_token %}
                    <div class="row no-gutters gx-0">
                        <div class="col-md-12 col-lg-4">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="enter subject" id="input_subject">

                                <button class="btn btn-outline-secondary" data-bs-toggle="modal"
                                        data-bs-target="#atcModal"
                                        onclick="setConceptInputFieldSubject();" type="button">Browse
                                </button>

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2">
                            <div class="input-group">
                                <select class="form-select" id="input_predicate">
                                    <option value="associated">associated</option>
                                    <option value="administered">administered</option>
                                    <option value="compares">compares</option>
                                    <option value="decreases">decreases</option>
                                    <option value="induces">induces</option>
                                    <option value="interacts">interacts</option>
                                    <option value="inhibits">inhibits</option>
                                    <option value="metabolises">metabolises</option>
                                    <option value="method">method</option>
                                    <option value="treats">treats</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="enter object" id="input_object">
                                <button class="btn btn-outline-secondary" data-bs-toggle="modal"
                                        data-bs-target="#atcModal"
                                        onclick="setConceptInputFieldObject();" type="button">Browse
                                </button>
                            </div>
                        </div>
                        <div class="col-8 col-md-4 col-lg-2 mx-auto">
                            <div class="btn-group w-100" role="group" aria-label="query control">
                                <button class="btn btn-success" type="button" onclick="addQueryPart()">Add</button>
                                <button class="btn btn-primary d-flex flex-row flex-nowrap justify-content-center align-items-center"
                                        type="submit" id="btn_search">Search
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <ul class="list-group" id="query_builder_list"></ul>
                <p id="help_search" class="form-text text-muted" aria-describedby="btn_search">
                    Please be patient. This process can take up to one minute.
                </p>
                <div class="alert alert-danger" style="display:none" id="alert_translation" role="alert"></div>
            </div>
            <!-- keyword search  -->
            <div class="tab-pane fade" id="search-type-graph">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Keywords" id="search_input"
                               placeholder="enter keywords and press enter  (e.g. metformin diabetes mellitus injection)">
                        <button class="btn btn-success" type="button" id="keyword_add" onclick="keywordAdd()">
                            Add
                        </button>
                        <button class="btn btn-primary" type="button" id="search_submit" onclick="keywordSearch()">
                            <span class="spinner-border spinner-border-sm d-none" id="search_spinner"
                                  role="status"></span>
                            Search
                        </button>
                    </div>
                    <div class="d-flex w-100 flex-row flex-wrap" id="keyword-list"></div>
                    <div class="w-100">
                        <div class="alert alert-danger d-none mt-1" role="alert" id="input_alert"></div>
                    </div>
                    <div class="w-100 d-none mt-1" id="query_graph_container">
                        <div id="info_text">Click on one query to search.</div>
                        <!-- result query graphs -->
                        <div class="row d-flex flex-wrap justify-content-center" id="query_graphs"></div>
                    </div>
                </div>
            </div>
            <!-- recommendation -->
            <!--
            <div class="tab-pane fade" id="search-type-recommender">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control col-8" id="recommender_input"
                               placeholder="enter pmid and press enter  (e.g. 37924788)">

                        <label for="input_collection"></label>
                        <select class="form-select col-2" id="input_collection">
                        </select>

                        <button class="btn btn-primary d-flex flex-row flex-nowrap justify-content-center align-items-center col-2"
                                type="submit" id="btn_recommender" onclick="recommenderSearch()">Search
                        </button>
                    </div>
                    <p id="help_recommend" class="form-text text-muted" aria-describedby="btn_recommender">
                        Please be patient. This process can take up to one minute.
                    </p>
                    <div class="alert alert-danger" style="display:none" id="alert_recommender" role="alert"></div>
                </div>
            </div>
            -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="javascript:openHistory()">Search History</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <h6>How to Search:
                        <a href="https://youtu.be/iagphBPLokM" target="_blank" id="searchHelpAnchor">
                            <img src="{% static 'icons/help.png' %}" height="40px">
                        </a>
                    </h6>
                </div>
            </div>
        </div>
        <!-- "Bootstrap Modal" (popup window) for ATC classes -->
        <div class="modal" id="atcModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-scrollable"
                 role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Concept Selection:</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-header">
                        <div class="input-group rounded mb-1 mt-1">
                            <input id="browseSearch" type="search" class="form-control rounded"
                                   placeholder="Search"
                                   aria-label="Search"
                                   aria-describedby="search-addon"/>
                            <span class="input-group-text border-0" id="search-addon">
                                    <i class="fa fa-search"></i>
                                  </span>
                        </div>
                    </div>

                    <div class="modal-body">

                        <div id="browseTree"></div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                        <button id="atcTreeOK" class="btn btn-success" data-bs-dismiss="modal" type="button" onclick="">
                            OK
                        </button>

                    </div>
                </div>
            </div>
        </div>

        <!-- "popup" used to notify the user that the result is empty -->
        <div class="modal" tabindex="-1" id="modal_empty_result" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">No Results</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        The result set is empty. Do you want to search again more
                        general using the predicate 'associated'?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success"
                                data-bs-dismiss="modal" id="btn_search_again">
                            Yes
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                            No
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="exampleQueries">
            <div class="accordion" id="accordionExample">
                <div class="card mb-3">
                    <div class="card-header text-center" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-primary" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseExamples"
                                    aria-expanded="false" aria-controls="collapseExamples">
                                Example Queries
                            </button>
                        </h2>
                    </div>
                    <div id="collapseExamples" class="collapse" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="alert alert-info" role="alert">
                                Covid 19
                            </div>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('&quot;post-acute COVID-19 syndrome&quot; associated Disease')">
                                post-acute COVID-19 syndrome associated Disease
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Drug treats &quot;post-acute COVID-19 syndrome&quot;')">
                                Drug
                                treats post-acute COVID-19 syndrome
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Drug treats Covid19')">Drug treats Covid19
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Covid19 associated &quot;ANTINEOPLASTIC AND IMMUNOMODULATING AGENTS&quot;')">
                                Covid19 associated ANTINEOPLASTIC AND IMMUNOMODULATING AGENTS
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Disease associated Covid19')">Disease
                                associated Covid19
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Covid19 associated Target')">Covid19 associated
                                Target
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Covid19 associated Human _AND_ Disease associated Human')">
                                Covid19 associated Human AND Disease associated Human
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Covid19 associated Vaccine')">
                                Covid19 associated Vaccine
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Covid19 associated &quot;Pfizer Covid 19 Vaccine&quot; _AND_ Human associated Disease')">
                                Covid19 associated Pfizer Covid 19 Vaccine AND Human associated Disease
                            </button>

                            <div class="alert alert-info" role="alert">
                                Methods
                            </div>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('&quot;Mass Spectrometry&quot; method Simvastatin')">
                                Mass
                                Spectrometry method Simvastatin
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('?X(Method) method Simvastatin')">?X(Method)
                                method
                                Simvastatin
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('?X(LabMethod) method Simvastatin')">
                                ?X(LabMethod) method
                                Simvastatin
                            </button>
                            <div class="alert alert-info" role="alert">
                                Treatment
                            </div>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Metformin treats &quot;Diabetes Mellitus&quot;')">
                                Metformin
                                treats
                                "Diabetes Mellitus"
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Simvastatin treats Hypercholesterolemia')">
                                Simvastatin
                                treats
                                Hypercholesterolemia
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Metformin treats ?X(Disease)')">Metformin
                                treats
                                ?X(Disease)
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Metformin treats ?X(Species)')">Metformin
                                treats
                                ?X(Species)
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Drug associated &quot;Monkey Pox&quot;')">Drug
                                associated
                                Monkey Pox
                            </button>

                            <br><br>
                            <div class="alert alert-info" role="alert">
                                Plant Family Associations
                            </div>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Vinca associated ?Y(Disease)')">Vinca
                                associated
                                ?Y(Disease)
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Digitalis associated ?Y(Disease)')">Digitalis
                                associated
                                ?Y(Disease)
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('?X(PlantFamily) associated ?Y(Disease)')">
                                ?X(PlantFamily)
                                associated ?Y(Disease)
                            </button>

                            <br><br>
                            <div class="alert alert-info" role="alert">
                                Administered
                            </div>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Metformin administered ?X(DosageForm)')">
                                Metformin
                                administered
                                ?X(DosageForm)
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Metformin administered Injections')">Metformin
                                administered
                                Injections
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Lidocaine administered ?X(DosageForm)')">
                                Lidocaine
                                administered
                                ?X(DosageForm)
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('?X(Drug) administered liposomes')">?X(Drug)
                                administered liposomes
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('?X(Drug) administered &quot;Nebulizers and Vaporizers&quot;')">
                                ?X(Drug) administered "Nebulizers and Vaporizers"
                            </button>

                            <br><br>
                            <div class="alert alert-info" role="alert">
                                Gene Interactions
                            </div>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Metformin inhibits mtor')">Metformin inhibits
                                mtor
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Metformin inhibits ?X(Target)')">Metformin
                                inhibits
                                ?X(Target)
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('?X(Drug) inhibits cyp3a4')">?X(Drug) inhibits
                                cyp3a4
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('cyp3a4 metabolises Simvastatin')">cyp3a4
                                metabolises
                                Simvastatin
                            </button>

                            <br><br>
                            <div class="alert alert-info" role="alert">
                                Adverse Effects
                            </div>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Simvastatin induces Rhabdomyolysis')">
                                Simvastatin induces
                                Rhabdomyolysis
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Simvastatin induces &quot;Muscular Diseases&quot;')">
                                Simvastatin induces
                                Muscular Diseases
                            </button>

                            <br><br>
                            <div class="alert alert-info" role="alert">
                                Complex Queries
                            </div>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Metformin treats &quot;Diabetes Mellitus&quot;_AND_ Metformin associated human')">
                                Metformin treats Diabetes Mellitus AND Metformin associated human
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Metformin treats &quot;Diabetes Mellitus&quot;_AND_ Metformin associated ?X(Drug)')">
                                Metformin treats Diabetes Mellitus AND Metformin associated ?X(Drug)
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Metformin treats &quot;Diabetes Mellitus&quot;_AND_ Metformin administered ?X(DosageForm)')">
                                Metformin treats Diabetes Mellitus AND Metformin administered ?X(DosageForm)
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('Simvastatin induces &quot;Muscular Diseases&quot;_AND_ ?X(Drug) inhibits cyp3a4')">
                                Simvastatin induces "Muscular Diseases" AND ?X(Drug) inhibits cyp3a4
                            </button>

                            <br><br>
                            <div class="alert alert-info" role="alert">
                                Large Queries
                            </div>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('?Drug(Drug) treats ?Dis(Disease)')">?Drug(Drug)
                                treats
                                ?Dis(Disease)
                            </button>
                            <button type="button" class="btn btn-outline-primary"
                                    onclick="initQueryBuilderFromString('?Drug(Drug) administered ?Form(DosageForm)')">
                                ?Drug(Drug) administered ?Form(DosageForm)
                            </button>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row flex-lg-row flex-column">
            <!-- left column: filter options menu-->
            <div class="col col-lg-2 mb-2 mb-lg-0">
                <form class="border rounded px-2">
                    <!-- Collection class filter -->
                    <div class="row m-1 align-items-center border-bottom" id="collection-filter">
                        <label class="g-0">
                            <strong>Data Source:</strong>
                        </label>
                    </div>

                    <!-- Year filter -->
                    <div id="year-filter" class="row m-1 align-items-center d-flex border-bottom">
                        <label class="g-0"><strong>Results by year:</strong></label>
                        <div class="col-12 col-sm-6 col-lg-12 px-1 g-0" style="max-width: 350px;">
                            <div class="mx-2" id="range_container">
                                <canvas id="myChart" style="width:100%"></canvas>
                                <div class="sliders_control">
                                    <input id="fromSlider" type="range"/>
                                    <div class="range-value" id="rangeFrom"></div>
                                    <input id="toSlider" type="range"/>
                                    <div class="range-value" id="rangeTo"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Visualization Buttons -->
                    <div class="row m-1 align-items-center d-flex border-bottom" id="visualization_filter">
                        <label class="g-0"><strong>Visualization by:</strong></label>


                        <input type="radio" id="radio_outer_ranking_a" name="outer_ranking"
                               value="outer_ranking_substitution" class="col-1"
                               checked="checked" onclick="refreshSearch()">
                        <label class="col-11" for="radio_outer_ranking_a">
                            Substitution
                        </label>



                        <input type="radio" id="radio_outer_ranking_b" name="outer_ranking" class="col-1"
                               value="outer_ranking_ontology" onclick="refreshSearch()">
                        <label class="col-11" for="radio_outer_ranking_b">
                            MeSH-Taxonomy
                        </label>

                    </div>

                    <div class="row m-1 align-items-center border-bottom" id="classification-filter">
                        <label class="g-0">
                            <strong>Classifications:</strong>
                        </label>
                    </div>

                    <div class="row m-1 align-items-center">
                        <label class="g-0">
                            <strong>Filter by type:</strong>
                        </label>
                        <input type="checkbox" name="checkbox_sys_review" id="checkbox_sys_review"
                               onclick="refreshSearch()" class="col-1">
                        <label class="col-11" for="checkbox_sys_review">Systematic Review</label>
                    </div>
                </form>
            </div>

            <!-- right column: results table -->
            <div class="col">
                <div id="resultdiv">
                    <div class="row" id="document_preview"></div>
                    <div class="row">
                        <div class="col-12">
                            <h2 id="document_header">Results:

                                <a href="https://youtu.be/DrG1u8497g0" target="_blank">
                                    <img src="{% static 'icons/help.png' %}" height="40px">
                                </a>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4" id="div_input_page" style="display: none">
                            <div class="input-group w-100">
                                <label class="input-group-text" for="input_page_no">Page: </label>
                                <input class="form-control" type="number" size="1" id="input_page_no" step="1" value="1"
                                       min="1"/>
                                <label class="input-group-text"> of </label>
                                <label class="input-group-text" id="label_max_page"> of X</label>
                            </div>
                        </div>

                        <div class="col-12 col-md-4" id="sorting_year_container">
                            <select class="form-select w-100" id="select_sorting_year"
                                    style="width: auto; display: none">
                                <option selected value="True">Latest Publications First</option>
                                <option value="False">Oldest Publications First</option>
                            </select>
                        </div>

                        <div class="col-12 col-md-4">
                            <select class="form-select w-100" id="select_sorting_freq"
                                    style="width: auto; display: none">
                                <option selected value="True">Most Frequent Substitutions First</option>
                                <option value="False">Unusual Substitutions First</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label for="input_title_filter" id="input_title_filter_label" class="col-12 col-md-8 d-none">Search
                            in result titles:</label>
                        <div class="input-group w-75">
                            <input type="text" class="col-12 col-md-8 form-control d-none"
                                   placeholder="search in result titles"
                                   id="input_title_filter">
                        </div>
                    </div>
                    <hr class="mt-2 mb-3"/>
                    <div class="row">
                        <div id="div_wrapper_documents">
                            <div id="div_documents"></div>
                        </div>
                    </div>
                </div>
            </div> <!--end col-->
        </div> <!--end row-->

        <!-- Feedback stuff-->
        <button type="button" class="btn btn-primary feedbackbtn" id="feedback_button"
                onclick="openFeedback()" data-html2canvas-ignore="true">
            <span id="feedbackbtn_text">Feedback</span>
            <span class="spinner-border spinner-border-sm" id="reportSpinner" role="status"></span>
        </button>
        <div class="modal" tabindex="-1" role="dialog" id="feedbackModal">
            <div class="modal-dialog modal-dialog-scrollable modal-xl"
                 role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Send feedback with screenshot</h5>
                        <button type="button" class="btn-close"
                                onclick="closeFeedback()" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row mt-2">
                                <div class="outsideWrapper">
                                    <div class="insideWrapper" id="screenshotContainer">
                                        <img src="null" id="screenshot"
                                             class="img-fluid coveredImage border border-primary">
                                        <canvas class="coveringCanvas" id="screenshotCanvas"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col text-center">
                                    <button type="button" class="btn btn-secondary" onclick="reset_scanvas()">Reset
                                    </button>
                                </div>
                            </div>
                        </div>

                        <p>Please mark the problematic section on the image above and/or describe the problem you have
                            encountered:</p>
                        <textarea class="form-control" id="feedbackText" rows="3"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeFeedback()">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="closeFeedback(true)" id="sendReport">Send
                            Report
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Search history -->
        <div class="modal" tabindex="-1" role="dialog" id="historyModal">
            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                <div class="modal-content h-100">
                    <div class="modal-header">
                        <h5 class="modal-title">Search history</h5>
                        <button type="button" class="btn-close" onclick="closeHistory()" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <table class="table">
                                <colgroup>
                                    <col style="width: 20%;">
                                    <col style="width: 40%;">
                                    <col style="width: 30%;">
                                    <col style="width: 10%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Search</th>
                                    <th>Restrictions</th>
                                    <th>Results</th>
                                </tr>
                                </thead>
                                <tbody id="historyTable">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="closeHistory()">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Keyword search help -->
        <div class="modal" tabindex="-1" role="dialog" id="keywordSearchHelpModal">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <!--<div class="modal-header">
                        <h5 class="modal-title">Keyword Search Help</h5>
                        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                    </div>-->
                    <div class="modal-body" style="overflow: hidden">
                        <img src="{% static 'assets/keyword_query_help.gif' %}" class="w-100">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup" id="newsPopup">
        <div class="newsdetail">
            <div class="top">
                <a id="paperLink">View Paper</a>
                <a id="paperTab">Open in a new tab
                    <img src="{% static 'assets/searchicon.svg' %}">
                </a>
                <div onclick="hidePaperView()">
                    <img src="{% static 'assets/close.svg' %}">
                </div>
            </div>
            <div class="bottom" id="bottomDiv">
                <div class="checkbox" id="newsCheckbox"></div>
                <div class="paper">
                    <h2 id="paperTitle"></h2>
                    <p class="author" id="paperAuthor"></p>
                    <p class="journal" id="paperJournal"></p>
                    <p class="date" id="paperDate"></p>
                    <p class="abstract" id="paperAbstract"></p>

                    <div id="classifications">
                        <h2 id="classificationHeader">Classifications</h2>
                        <div id="classificationDiv"></div>
                        <p id="classificationInfo"
                           style="margin-top: 10px; font-size:15px;">
                            <em>(1,10) means text passage 1-10</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- loading screen -->
    <div class="position-absolute start-0 top-0 w-100 h-100 bg-dark d-flex d-none" id="loading_screen"
         style="opacity: 50%; z-index: 1000">
        <div class="spinner-border text-primary m-auto" role="status" id="result_spinner">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <noscript>
        <div class="noscript">
            <div>
                This website requires JavaScript enabled to function properly.
            </div>
        </div>
    </noscript>
{% endblock %}

{% block javascript %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- used for paper view popup -->
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="{% static 'js/../../static/js/../../static/js/libraries/mark.min.js' %}"></script>
    <script src="{% static 'js/../../static/js/../../static/js/libraries/async.min.js' %}"></script>

    <script src="{% static 'js/search.js' %}?version=38" type="text/javascript"></script>
    <script src="{% static 'js/paper.js' %}?version=22" type="text/javascript"></script>
    <!-- as found on https://www.jqueryscript.net/other/hierarchical-searchable-tree.html -->
    <script src="{% static 'js/simpleTree.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/search_history.js' %}?version=3" type="text/javascript"></script>
    <script src="{% static 'js/keyword_search.js' %}?version=8" type="text/javascript"></script>
    <script src="{% static 'js/recommender_search.js' %}?version=8" type="text/javascript"></script>

    <script type="text/javascript">
        const document_url = "{% url 'document' %}";
        const search_url = "{% url 'query' %}";
        const autocompletion_url = "{% url 'autocompletion' %}";
        const query_check_url = "{% url 'check_query' %}";
        const tree_info_url = "{% url 'tree_info' %}"
        const feedback_url = "{% url 'feedback' %}";
        const subgroup_feedback_url = "{% url 'subgroup_feedback' %}";
        const provenance_url = "{% url 'provenance' %}";
        const explain_document_url = "{% url 'explain_document' %}";
        const report_url = "{% url 'report' %}";
        const document_clicked_url = "{% url 'document_clicked' %}";
        const pubpharm_image_url = "{% static 'fid_pubpharm_logo_comb.png'  %}";
        const ok_symbol_url = "{% static 'ok.png' %}";
        const cancel_symbol_url = "{% static 'cancel.png' %}";
        const search_icon_url = "{% static 'assets/searchicon.svg' %}"
        const url_graph_preview = "{% static 'graph_preview.png' %}";
        const url_paper_view_log = "{% url 'paper_view_log' %}";
        const explain_translation_url = "{% url 'explain_translation' %}";
        const url_keyword_search_request = "{% url 'keyword_search_request' %}";
        const url_recommender_search = "{% url 'recommend' %}";
        const url_available_collections = "{% url 'document_collections' %}";
        const url_available_classifications = "{% url 'document_classifications' %}";
        const url_document_classification_feedback = "{% url 'document_classification_feedback' %}";

        const url_document_graph = "{% url 'document_graph' %}";
        const url_narrative_documents = "{% url 'narrative_documents' %}";

        $("#nav_item_search").addClass("active");
        $("#nav_item_help").removeClass("active");
        //$("#nav_item_stats").removeClass("active");

        loadGraphTemplate({
            targetContainer: "bottomDiv"
        });

        const historyQueryKey = "query";
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        activateSearchTracking();
    </script>
{% endblock %}