{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Statistics per Predicate and Extraction Type{% endblock %}

{% block content %}
    <div class="container margin-top">
        <div class="row">
            <div class="col">
                <table id="stats_table" class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" data-sortable="true">Predicate</th>
                        <th scope="col" data-sortable="true">PathIE Extr.</th>
                        <th scope="col" data-sortable="true">OpenIE Extr.</th>
                    </tr>
                    </thead>
                    <tbody id="stats_table_body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        const stats_url = "{% url 'stats' %}";

        $("#nav_item_search").removeClass("active");
        $("#nav_item_stats").addClass("active");

    </script>
    <script src="{% static 'js/../../static/js/../../static/js/stats.js' %}" type="text/javascript"></script>
{% endblock %}
