{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
{% endblock %}

{% block title %}Team{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container margin-top">
        <div class="row">
            <div class="accordion">
                <div class="card mb-3">
                    <div class="card-header text-center">
                        <h2 class="mb-0 title_con">Team and Collaborators</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../static/assets/team/hermann.png" alt="Hermann Kroll">
                        <div class="description">
                            <p class="name-text">Hermann Kroll</p>
                            <p>Compmuter Scientist</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../static/assets/team/christina.jpg" alt="Christina Draheim">
                        <div class="description">
                            <p class="name-text">Christina Draheim</p>
                            <p>Pharmacist</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="../../static/assets/team/stefan.jpg" alt="Stefan Wulle">
                        <div class="description">
                            <p class="name-text">Stefan Wulle</p>
                            <p>Pharmacist</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="../../static/assets/team/user.png" alt="Johannes Ruthmann">
                        <div class="description">
                            <p class="name-text">Johannes Ruthmann</p>
                            <p>Research Assistant</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="../../static/assets/team/user.png" alt="Morris Kunz">
                        <div class="description">
                            <p class="name-text">Morris Kunz</p>
                            <p>Research Assistant</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="../../static/assets/team/user.png" alt="Pascal Sackhoff">
                        <div class="description">
                            <p class="name-text">Pascal Sackhoff</p>
                            <p>Research Assistant</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <img src="../../static/assets/team/user.png" alt="Bill Matthias Thang">
                        <div class="description">
                            <p class="name-text">Bill Matthias Thang</p>
                            <p>Research Assistant</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
