[submodule "lib/NarrativeAnnotation"]
	path = lib/NarrativeAnnotation
	url = https://github.com/HermannKroll/NarrativeAnnotation.git
[submodule "lib/KGExtractionToolbox"]
	path = lib/KGExtractionToolbox
	url = https://github.com/HermannKroll/KGExtractionToolbox.git
