[submodule "lib/NarrativeAnnotation"]
	path = lib/NarrativeAnnotation
	url = git@github.com:HermannKroll/NarrativeAnnotation.git
[submodule "lib/KGExtractionToolbox"]
	path = lib/KGExtractionToolbox
	url = git@github.com:HermannKroll/KGExtractionToolbox
