{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ui.css' %}">
{% endblock %}

{# TODO: Implement https://visjs.org/examples/network/basicUsage.html #}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{% block title %}PubMedCentral{% endblock %}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="{% url 'search' %}" id="search_form">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id_keywords">Keywords</label>
                            <textarea class="form-control" id="id_keywords" rows="3"
                                      name="keywords">

                                Simvastatin Rhabdomyolysis associated

                            </textarea>
                            <small id="id_help" class="form-text text-muted" aria-describedby="id_help">
                                Please type in the keywords you want to query. (Mesh / Gene IDs can be entered manually "1576" for CYP3A4.
                                Detection of entities is currently only supported for Chemicals and Diseases.
                            </small>

                            <small id="id_help_3" class="form-text text-muted" aria-describedby="id_help">
                                Current Corpus: PubMedCentral 108 Documents: Simvastatin Amiodarone CYP3A4
                            </small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Search patterns</button>
                </form>
            </div>
        </div>

        <div class="row margin-top" id="patterns">
            <div class="col">
                <h2>Graph patterns</h2>

                <form>
                    {% for pattern in patterns %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="patterns"
                                   value="{{ forloop.counter }}" id="p{{ forloop.counter }}">
                            <label class="form-check-label" for="p{{ forloop.counter }}">
                                {% for s,p,o in pattern %}
                                    <p>{{ s }} - {{ p }} - {{ o }}</p>
                                {% endfor %}
                            </label>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>

        <div class="row margin-top" id="documents">
            <div class="col-md-6">
                <h2>Documents</h2>
            </div>
        </div>

        <div>
        <small id="id_help_2" class="form-text text-muted" aria-describedby="id_help">
                    Support the following predicates:<br/>
                    associated : [('Chemical', 'Disease'), ('Chemical', 'Gene'), ('Gene', 'Disease')]<br/>
                    inhibits : [('Chemical', 'Gene')]<br/>
                    metabolites : [('Gene', 'Chemical')]<br/>
                    marker_mechanism : [('Chemical', 'Disease')]<br/>
                    therapeutic : [('Chemical', 'Disease')]<br/>
                    affects_abundance : [('Chemical', 'Gene')]<br/>
                    affects_activity : [('Chemical', 'Gene')]<br/>
                    affects_binding : [('Chemical', 'Gene')]<br/>
                    affects_cotreatment : [('Chemical', 'Gene')]<br/>
                    affects_expression : [('Chemical', 'Gene')]<br/>
                    affects_localization : [('Chemical', 'Gene')]<br/>
                    affects_metabolic_processing : [('Chemical', 'Gene')]<br/>
                    affects_methylation : [('Chemical', 'Gene')]<br/>
                    affects_reaction : [('Chemical', 'Gene')]<br/>
                    affects_response_to_substance : [('Chemical', 'Gene')]<br/>
                    affects_transport : [('Chemical', 'Gene')]<br/>
                    decreases_abundance : [('Chemical', 'Gene')]<br/>
                    decreases_activity : [('Chemical', 'Gene')]<br/>
                    decreases_expression : [('Chemical', 'Gene')]<br/>
                    decreases_methylation : [('Chemical', 'Gene')]<br/>
                    decreases_phosphorylation : [('Chemical', 'Gene')]<br/>
                    decreases_reaction : [('Chemical', 'Gene')]<br/>
                    decreases_response_to_substance : [('Chemical', 'Gene')]<br/>
                    decreases_secretion : [('Chemical', 'Gene')]<br/>
                    increases_abundance : [('Chemical', 'Gene')]<br/>
                    increases_acetylation : [('Chemical', 'Gene')]<br/>
                    increases_activity : [('Chemical', 'Gene')]<br/>
                    increases_chemical_synthesis : [('Chemical', 'Gene')]<br/>
                    increases_cleavage : [('Chemical', 'Gene')]<br/>
                    increases_degradation : [('Chemical', 'Gene')]<br/>
                    increases_expression : [('Chemical', 'Gene')]<br/>
                    increases_localization : [('Chemical', 'Gene')]<br/>
                    increases_metabolic_processing : [('Chemical', 'Gene')]<br/>
                    increases_oxidation : [('Chemical', 'Gene')]<br/>
                    increases_phosphorylation : [('Chemical', 'Gene')]<br/>
                    increases_reaction : [('Chemical', 'Gene')]<br/>
                    increases_reduction : [('Chemical', 'Gene')]<br/>
                    increases_response_to_substance : [('Chemical', 'Gene')]<br/>
                    increases_secretion : [('Chemical', 'Gene')]<br/>
                    increases_transport : [('Chemical', 'Gene')]<br/>
                    increases_uptake : [('Chemical', 'Gene')]<br/>

                    </small>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        const search_url = "{% url 'search' %}";
    </script>
    <script src="{% static 'js/search.js' %}"></script>
{% endblock %}