{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/ui.css' %}" type="text/css"/>
{% endblock %}

{% block title %}PubMedCentral{% endblock %}

{% block content %}
    <div class="container margin-top">
        <div class="row">
            <div class="col">
                <form action="{% url 'search' %}" id="search_form">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group">
                            <label for="id_keywords"><strong>Keywords</strong></label>
                            <textarea class="form-control" id="id_keywords" rows="3"
                                      name="keywords">Simvastatin Rhabdomyolysis associated</textarea>
                            <small id="id_help" class="form-text text-muted" aria-describedby="id_help">
                                Please type in the keywords you want to query. (Mesh / Gene IDs can be entered manually
                                "1576" for CYP3A4.
                                Detection of entities is currently only supported for Chemicals and Diseases.
                            </small>

                            <small id="id_help_3" class="form-text text-muted" aria-describedby="id_help">
                                Current Corpus: PubMedCentral: Simvastatin Amiodarone CYP3A4 (108 documents)
                            </small>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Search patterns</button>
                </form>
            </div>
            <div class="col">
                <label for="query_translation"><strong>Query Translation</strong></label>
                <div id="query_translation">No query translation available.</div>
            </div>
        </div>

        <div class="row margin-top">
            <div class="col">
                <h2>Graph patterns</h2>

                <form id="graph-patterns"></form>
            </div>
        </div>

        <div class="row margin-top" id="div_wrapper_documents">
            <div class="col-md-6">
                <h2>Documents</h2>

                <div id="div_documents"></div>
            </div>
        </div>

        <div class="row margin-top">
            <div class="col">
                <h2>Supported predicates</h2>

                <table class="table table-sm table-striped">
                    <thead>
                    <tr>
                        <th>Predicate</th>
                        <th>Entities</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>associated</td>
                        <td>(Chemical, Disease)<br/>(Chemical, Gene)<br/>(Gene, Disease)</td>
                    </tr>
                    <tr>
                        <td>inhibits</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>metabolites</td>
                        <td>(Gene, Chemical)</td>
                    </tr>
                    <tr>
                        <td>marker_mechanism</td>
                        <td>(Chemical, Disease)</td>
                    </tr>
                    <tr>
                        <td>therapeutic</td>
                        <td>(Chemical, Disease)</td>
                    </tr>
                    <tr>
                        <td>affects_abundance</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>affects_activity</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>affects_binding</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>affects_cotreatment</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>affects_expression</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>affects_localization</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>affects_metabolic_processing</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>affects_methylation</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>affects_reaction</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>affects_response_to_substance</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>affects_transport</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>decreases_abundance</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>decreases_activity</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>decreases_expression</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>decreases_methylation</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>decreases_phosphorylation</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>decreases_reaction</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>decreases_response_to_substance</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>decreases_secretion</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_abundance</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_acetylation</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_activity</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_chemical_synthesis</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_cleavage</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_degradation</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_expression</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_localization</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_metabolic_processing</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_oxidation</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_phosphorylation</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_reaction</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_reduction</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_response_to_substance</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_secretion</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_transport</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    <tr>
                        <td>increases_uptake</td>
                        <td>(Chemical, Gene)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.7.2/cytoscape.umd.js"
            type="text/javascript"></script>
    <script type="text/javascript">
        const search_url = "{% url 'search' %}";
    </script>
    <script src="{% static 'js/search.js' %}" type="text/javascript"></script>
{% endblock %}