{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/../../static/css/../../static/css/ui.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/../../static/css/../../static/css/network.css' %}" type="text/css"/>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--  <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <link href="https://unpkg.com/vis-network@latest/dist/dist/vis-network.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block title %}Narrative Information Prototype{% endblock %}

{% block content %}

    <!--
    <a id="nodeMod" onClick="network.unselectAll();" href="#nodemod" rel="modal:open" style="display: none">Open
        Modal</a>
    <a id="edgeMod" onClick="network.unselectAll();" href="#edgemod" rel="modal:open" style="display: none">Open
        Modal</a>
    <a id="renameNodeMod" onClick="network.unselectAll();" href="#renamemod" rel="modal:open" style="display: none">Open
        Modal</a>
    <a id="renameEdgeMod" onClick="network.unselectAll();" href="#renameedgemod" rel="modal:open" style="display: none">Open
        Modal</a>
    <a id="renameClusterMod" onClick="network.unselectAll();" href="#renamecluster" rel="modal:open"
       style="display: none">Open Modal</a>
    <input type='file' onChange=load() id="tFile" style="display: none"/>

    <form action="" class="login_form long" id="nodemod" style="display: none;">
        <div class="divheaders" id="mydivheader">New Node</div>
        <br>
        <p><label>Label: </label><input id="inpnode" type="text"></p><br>
        <label>Entity Type: </label>
        <select id="newNodeType">
            <option value="Any" selected="selected">Any</option>
            <option value="Chemical">Chemical</option>
            <option value="Disease">Disease</option>
            <option value="Gene">Gene</option>
            <option value="Species">Species</option>
        </select>
        <br>
        <a class="okbtn" id="btnsub" onclick="dialogNameNode()" href="#close-modal" rel="modal:close">OK</a>
        <a class="cancelbtn" id="canBtn" href="#close-modal" rel="modal:close">Cancel</a>
    </form>

    <form action="" class="login_form short" id="edgemod" style="display: none;">
        <div class="divheaders">New Edge</div>
        <p><label>Label: </label><input id="inpedge" type="text"></p>
        <a class="okbtn" id="btnsubedge" onclick="dialogNameEdge()" href="#close-modal" rel="modal:close">OK</a>
        <a class="cancelbtn" href="#close-modal" rel="modal:close">Cancel</a>
    </form>

    <form action="" class="login_form short" id="renameedgemod" style="display: none;">
        <div class="divheaders">Rename Edge</div>
        <p><label>Edge Label: </label><input id="inprenameedge" type="text"></p>
        <a class="okbtn" id="btnsubrenameedge" onclick="dialogRenameEdge()" href="#close-modal" rel="modal:close">OK</a>
        <a class="cancelbtn" href="#close-modal" rel="modal:close">Cancel</a>
    </form>

    <form action="" class="login_form short" id="renamecluster" style="display: none;">
        <div class="divheaders">Rename Cluster</div>
        <p><label>Clustername: </label><input id="inprenamecluster" type="text"></p>
        <a class="okbtn" id="btnsubrenamecluster" onclick="dialogRenameCluster()" href="#close-modal" rel="modal:close">OK</a>
        <a class="cancelbtn" href="#close-modal" rel="modal:close">Cancel</a>
    </form>

    <form action="" class="login_form long" id="renamemod" style="display: none;">
        <div class="divheaders">Rename Node</div>
        <p><label>Label:</label><input id="inprename" type="text"></p>
        <label>Entity Type: </label>
        <select id="RenameNodeType">
            <option value="Any" selected="selected">Any</option>
            <option value="Chemical">Chemical</option>
            <option value="Disease">Disease</option>
            <option value="Gene">Gene</option>
            <option value="Species">Species</option>
        </select>
        <br>
        <a class="okbtn" id="btnsubrename" onclick="dialogReName()" href="#close-modal" rel="modal:close">OK</a>
        <a class="cancelbtn" href="#close-modal" rel="modal:close">Cancel</a>
    </form>
-->

    <!-- own development starts here:  -->
    <div class="container margin-top">

        <div class="row">
            <div class="col">

                <!--
                <div class="help-tip">
                    <p> - Please type in the keywords you want to query <br>
                        - You can specify an entity by its heading such as Simvastatin or its ID MESH:D019821 <br>
                        - Entities including empty spaces must be escaped by quotes, e.g. "Diabetes Mellitus" <br>
                        - Predicates must stem from a predefined set of predicates (see below) <br>
                        - You can also use variables in your query by adding a question mark, e.g. Simvastatin treats ?X
                        <br>
                        - You can type variables by putting the variable type in brackets, e.g.
                        ?X(Disease), ?X(Species) (Choose from Chemical, Disease, DosageForm, Gene and Species) <br>
                        - Multiple facts are queried as follows (separated by a '.'): Simvastatin treats ?X. ?X affects
                        ?Y<br>
                </div>
                -->

                <form action="{% url 'search' %}" id="search_form">
                    {% csrf_token %}
                    <div class="form-group">


                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="enter subject" id="input_subject">
                        <select class="custom-select" id="input_predicate">
                            <option value="associated">associated</option>
                            <option value="administered">administered</option>
                            <option value="compares">compares</option>
                            <option value="decreases">decreases</option>
                            <option value="induces">induces</option>
                            <option value="interacts">interacts</option>
                            <option value="inhibits">inhibits</option>
                            <option value="metabolises">metabolises</option>
                            <option value="treats">treats</option>

                        </select>
                        <input type="text" class="form-control" placeholder="enter object" id="input_object">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" onclick="addQueryPart()">Add</button>
                            <button class="btn btn-primary" type="submit" id="btn_search">Search</button>
                        </div>
                    </div>
                   <p id="help_search" class="form-text text-muted" aria-describedby="btn_search">
                        Please be patient. This process can take up to one minute.
                    </p>

                    <div class="alert alert-danger" style="display:none;" id="alert_translation" role="alert">
                        This is a danger alert—check it out!
                    </div>
                    <ul class="list-group" id="query_builder_list">
                    </ul>

                        <!--
                        <label><strong>Data Source:</strong></label><br>

                        <div class="wrapper-div">
                            <div class="inner-div-left-mid">
                                <input type="radio" id="radio_pubmed" name="data_source" value="PubMed"
                                       checked="checked">
                                <label for="radio_pubmed_path">PubMed Sample (2M Document Titles and
                                    Abstracts)</label><br>
                                <input type="radio" id="radio_pmc" name="data_source" value="PMC_PATH">
                                <label for="radio_pmc_path">PubMedCentral Sample (12k Fulltext Documents incl.
                                    Simvastatin)</label><br>
                            </div>
                        </div> -->

                        <label><strong>Visualisation:</strong></label><br>
                        <div class="wrapper-div">
                            <div class="inner-div-left-mid">
                                <input type="radio" id="radio_outer_ranking_a" name="outer_ranking"
                                       value="outer_ranking_substitution"
                                       checked="checked">
                                <label for="radio_outer_ranking_a">Substitution-based Visualisation</label><br>
                            </div>
                            <div class="inner-div-right-most">
                                <input type="radio" id="radio_outer_ranking_b" name="outer_ranking"
                                       value="outer_ranking_ontology">
                                <label for="radio_outer_ranking_b">MeSH-Taxonomy-based Visualisation</label><br>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="card mb-3">
                <div class="card-header text-center" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#collapseExamples"
                                aria-expanded="false" aria-controls="collapseExamples">
                            Example Queries
                        </button>
                    </h2>
                </div>
                <div id="collapseExamples" class="collapse" aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="alert alert-info" role="alert">
                            Treatment
                        </div>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Metformin treats &quot;Diabetes Mellitus&quot;')">Metformin treats
                            "Diabetes Mellitus"
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Simvastatin treats Hypercholesterolemia')">Simvastatin treats
                            Hypercholesterolemia
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Metformin treats ?X(Disease)')">Metformin treats ?X(Disease)
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Metformin treats ?X(Species)')">Metformin treats ?X(Species)
                        </button>

                        <br><br>
                        <div class="alert alert-info" role="alert">
                            Plant Family Associations
                        </div>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Vinca associated ?Y(Disease)')">Vinca associated ?Y(Disease)
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Digitalis associated ?Y(Disease)')">Digitalis associated
                            ?Y(Disease)
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('?X(PlantFamily) associated ?Y(Disease)')">?X(PlantFamily)
                            associated ?Y(Disease)
                        </button>

                        <br><br>
                        <div class="alert alert-info" role="alert">
                            Administered
                        </div>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Metformin administered ?X(DosageForm)')">Metformin administered
                            ?X(DosageForm)
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Metformin administered Injections')">Metformin administered
                            Injections
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Lidocaine administered ?X(DosageForm)')">Lidocaine administered
                            ?X(DosageForm)
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('?X(Chemical) administered liposomes')">?X(Chemical)
                            administered liposomes
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('?X(Chemical) administered &quot;Nebulizers and Vaporizers&quot;')">
                            ?X(Chemical) administered "Nebulizers and Vaporizers"
                        </button>

                        <br><br>
                        <div class="alert alert-info" role="alert">
                            Gene Interactions
                        </div>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Metformin inhibits mtor')">Metformin inhibits mtor
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Metformin inhibits ?X(Gene)')">Metformin inhibits ?X(Gene)
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('?X(Chemical) inhibits cyp3a4')">?X(Chemical) inhibits cyp3a4
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('cyp3a4 metabolises Simvastatin')">cyp3a4 metabolises
                            Simvastatin
                        </button>

                        <br><br>
                        <div class="alert alert-info" role="alert">
                            Adverse Effects
                        </div>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Simvastatin induces Rhabdomyolysis')">Simvastatin induces
                            Rhabdomyolysis
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Simvastatin induces &quot;Muscular Diseases&quot;')">Simvastatin induces
                            Muscular Diseases
                        </button>

                        <br><br>
                        <div class="alert alert-info" role="alert">
                            Complex Queries
                        </div>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Metformin treats &quot;Diabetes Mellitus&quot;. Metformin associated human')">
                            Metformin treats Diabetes Mellitus. Metformin associated human
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Metformin treats &quot;Diabetes Mellitus&quot;. Metformin associated ?X(Chemical)')">
                            Metformin treats Diabetes Mellitus. Metformin associated ?X(Chemical)
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Metformin treats &quot;Diabetes Mellitus&quot;. Metformin administered ?X(DosageForm)')">
                            Metformin treats Diabetes Mellitus. Metformin administered ?X(DosageForm)
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('Simvastatin induces &quot;Muscular Diseases&quot;. ?X(Chemical) inhibits cyp3a4')">
                            Simvastatin induces "Muscular Diseases". ?X(Chemical) inhibits cyp3a4
                        </button>

                        <br><br>
                        <div class="alert alert-info" role="alert">
                            Large Queries
                        </div>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('?Chem(Chemical) treats ?Dis(Disease)')">?Chem(Chemical) treats
                            ?Dis(Disease)
                        </button>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="example_search('?Chem(Chemical) administered ?Form(DosageForm)')">
                            ?Chem(Chemical) administered ?Form(DosageForm)
                        </button>


                    </div>
                </div>
            </div>
        </div>

        <!--
                <div class="accordion" id="accordionNarrativeDesigner">
                    <div class="card mb-3">
                        <div class="card-header text-center" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="false" aria-controls="collapseOne" onclick="centerNetworkDelayed()">
                                    Narrative Designer
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionNarrativeDesigner">
                            <div class="card-body">

                                <div id="App">
                                    <div class="help-tip">
                                        <p>- Click on node/edge to select it <br>
                                            - Click the "Center-Button" to center your network <br>
                                            - Click the "Clear-Button" to delete the network <br>
                                            - For multiple select, hold ctrl and click on nodes/edges <br>
                                            - Shortcuts: <br>
                                            - n: create new node <br>
                                            - e: create new edge <br>
                                            - c: cluster <br>
                                            - backspace/delete: to delete nodes or edges <br></p>
                                    </div>

                                    <button class="button" id="load" onClick="document.getElementById('tFile').click();"
                                            class="btn btn-secondary"
                                            data-toggle="tooltip" data-placement="left" title="Load"></button>
                                    <button class="button" id="save" onClick=save() class="btn btn-secondary"
                                            data-toggle="tooltip"
                                            data-placement="left" title="Save"></button>
                                    <button class="button" id="undo" onClick=undo() class="btn btn-secondary"
                                            data-toggle="tooltip"
                                            data-placement="left" title="Undo"></button>
                                    <button class="button" id="redo" onClick=redo() class="btn btn-secondary"
                                            data-toggle="tooltip"
                                            data-placement="left" title="Redo"></button>
                                    <button class="button" id="center" onClick=centerNetwork() class="btn btn-secondary"
                                            data-toggle="tooltip"
                                            data-placement="left" title="Center"></button>
                                    <button class="button" id="clear" onClick=clear_all() class="btn btn-secondary"
                                            data-toggle="tooltip"
                                            data-placement="left" title="Clear"></button>
                                    <div id="mynetwork" onchange="createQuery();console.log(query + " onchange
                                    ");">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accordionQueryTranslation">
                    <div class="card mb-3">
                        <div class="card-header text-center" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseQT"
                                        aria-expanded="false" aria-controls="collapseOne">
                                    Query Translation
                                </button>
                            </h2>
                        </div>
                        <div id="collapseQT" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionQueryTranslation">
                            <div class="card-body">
                                <div>
                                    <label><strong>Query Translation: </strong></label>
                                    <div id="query_translation">No query translation available.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        -->

        <div class="accordion" id="accordionQueryTranslation">
            <div class="card mb-3">
                <div class="card-header text-center" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#collapseTutorial"
                                aria-expanded="false" aria-controls="collapseOne">
                            Tutorials / Getting Started
                        </button>
                    </h2>
                </div>
                <div id="collapseTutorial" class="collapse" aria-labelledby="headingOne"
                     data-parent="#accordionQueryTranslation">
                    <div class="card-body">
                        <div>
                            In diesem Video finden Sie eine kurze Einführung in den narrativen Prototypen:
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/cvzCRBS0P0Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="resultdiv">
            <br>
            <h2 id="header_documents">Documents</h2>
        </div>
        <div class="row margin-top" id="div_wrapper_documents">
            <div id="div_documents"></div>
        </div>

    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://unpkg.com/vis-network@latest/dist/vis-network.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

    <script type="text/javascript">
        const search_url = "{% url 'query' %}";
        const autocompletion_url = "{% url 'autocompletion' %}";
        const query_check_url = "{% url 'check' %}";
    </script>
    <script src="{% static 'js/../../static/js/../../static/js/search.js' %}" type="text/javascript"></script>
    <!--
    <script src="{% static 'js/../../static/js/../../static/js/network.js' %}" type="text/javascript"></script> -->
{% endblock %}