{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/../../static/css/../../static/css/ui.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/../../static/css/../../static/css/network.css' %}" type="text/css"/>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <link href="https://unpkg.com/vis-network@latest/dist/vis-network.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block title %}Narrative Information Access to PubMed{% endblock %}

{% block content %}

    <a id="nodeMod" onClick="network.unselectAll();" href="#nodemod" rel="modal:open" style="display: none">Open
        Modal</a>
    <a id="edgeMod" onClick="network.unselectAll();" href="#edgemod" rel="modal:open" style="display: none">Open
        Modal</a>
    <a id="renameNodeMod" onClick="network.unselectAll();" href="#renamemod" rel="modal:open" style="display: none">Open
        Modal</a>
    <a id="renameEdgeMod" onClick="network.unselectAll();" href="#renameedgemod" rel="modal:open" style="display: none">Open
        Modal</a>
    <a id="renameClusterMod" onClick="network.unselectAll();" href="#renamecluster" rel="modal:open"
       style="display: none">Open Modal</a>
    <input type='file' onChange=load() id="tFile" style="display: none"/>



    <form action="" class="login_form long" id="nodemod" style="display: none;">
        <div class="divheaders" id="mydivheader">New Node</div>
        <br>
        <p><label>Label: </label><input id="inpnode" type="text"></p><br>
        <label>Entity Type: </label>
        <select id="newNodeType">
            <option value="Any" selected="selected">Any</option>
            <option value="Chemical">Chemical</option>
            <option value="Disease">Disease</option>
            <option value="Gene">Gene</option>
            <option value="Species">Species</option>
        </select>
        <br></br>
        <a class="okbtn" id="btnsub" onclick="dialogNameNode()" href="#close-modal" rel="modal:close">OK</a>
        <a class="cancelbtn" id="canBtn" href="#close-modal" rel="modal:close">Cancel</a>
    </form>

    <form action="" class="login_form short" id="edgemod" style="display: none;">
        <div class="divheaders">New Edge</div>
        <p><label>Label: </label><input id="inpedge" type="text"></p>
        <a class="okbtn" id="btnsubedge" onclick="dialogNameEdge()" href="#close-modal" rel="modal:close">OK</a>
        <a class="cancelbtn" href="#close-modal" rel="modal:close">Cancel</a>
    </form>

    <form action="" class="login_form short" id="renameedgemod" style="display: none;">
        <div class="divheaders">Rename Edge</div>
        <p><label>Edge Label: </label><input id="inprenameedge" type="text"></p>
        <a class="okbtn" id="btnsubrenameedge" onclick="dialogRenameEdge()" href="#close-modal" rel="modal:close">OK</a>
        <a class="cancelbtn" href="#close-modal" rel="modal:close">Cancel</a>
    </form>

    <form action="" class="login_form short" id="renamecluster" style="display: none;">
        <div class="divheaders">Rename Cluster</div>
        <p><label>Clustername: </label><input id="inprenamecluster" type="text"></p>
        <a class="okbtn" id="btnsubrenamecluster" onclick="dialogRenameCluster()" href="#close-modal" rel="modal:close">OK</a>
        <a class="cancelbtn" href="#close-modal" rel="modal:close">Cancel</a>
    </form>

    <form action="" class="login_form long" id="renamemod" style="display: none;">
        <div class="divheaders">Rename Node</div>
        <p><label>Label:</label><input id="inprename" type="text"></p>
        <label>Entity Type: </label>
        <select id="RenameNodeType">
            <option value="Any" selected="selected">Any</option>
            <option value="Chemical">Chemical</option>
            <option value="Disease">Disease</option>
            <option value="Gene">Gene</option>
            <option value="Species">Species</option>
        </select>
        <br></br>
        <a class="okbtn" id="btnsubrename" onclick="dialogReName()" href="#close-modal" rel="modal:close">OK</a>
        <a class="cancelbtn" href="#close-modal" rel="modal:close">Cancel</a>
    </form>


    <!-- own development starts here: -->


    <div class="container margin-top">
        <div class="row">
            <div class="col">
                <div class="help-tip">
                    <p> - Please type in the keywords you want to query <br>
                        - EntityTagger includes MeSH, Genes and Species <br>
                        - You can specify an entity by its heading such as Simvastatin or its ID MESH:DD019821 <br>
                        - Entities including empty spaces must be escaped by quotes, e.g. "Diabetes Mellitus" <br>
                        - Predicates must stem from a predefined set of predicates (see below) <br>
                        - You can also use variables in your query by adding a question mark, e.g. Simvastatin causes ?X
                        <br>
                        - You can type variables by state the variable type in brackets, e.g.
                        ?X(Disease), ?X(Species) (Choose from Chemical, Disease, DosageForm, Gene and Species) <br>
                        - Multiple facts are queried as follows (separated by a '.'): Simvastatin causes ?X. ?X affects
                        ?Y<br>
                </div>

                <form action="{% url 'search' %}" id="search_form">
                    {% csrf_token %}
                    <div class="form-group">
                        <!--<label for="id_keywords"><strong>Search</strong></label> -->
                        <textarea class="form-control" id="id_keywords" rows="1"
                                  name="keywords">Simvastatin causes ?X(Disease)</textarea><br>
                        <label for="id_keywords"><strong> Allowed Predicates:</strong></label>
                        <small id="id_help_2" class="form-text text-muted" aria-describedby="id_help">
                            'administered', 'associated', 'augments', 'causes', 'compares', 'decreases',
                            'dosageform', 'effects', 'induces', 'inhibits', 'interacts', 'occurs',
                            'prevents', 'produces', 'regulates', 'treats'
                        </small>
                        <label><strong>Data Source:</strong></label><br>
                        <input type="radio" id="radio_pmc" name="data_source" value="PMC" checked="checked">
                        <label for="radio_pmc">PubMedCentral Sample (12k Fulltext Documents including
                            Simvastatin)</label><br>
                        <input type="radio" id="radio_pubmed" name="data_source" value="PubMed">
                        <label for="radio_pubmed">PubMed Sample (1000k Document Titles and Abstracts)</label><br>

                        <div style="float: left; width: 50%">
                            <label><strong>Outer Ranking:</strong></label><br>
                            <input type="radio" id="radio_outer_ranking_a" name="outer_ranking" value="outer_ranking_substitution"
                                   checked="checked">
                            <label for="radio_outer_ranking_a">Aggregation by Variable Substitution</label><br>
                            <input type="radio" id="radio_outer_ranking_b" name="outer_ranking" value="outer_ranking_ontology">
                            <label for="radio_outer_ranking_b">Ontology-based Aggregation</label><br>
                        </div>
                        
                        <div style="float: left; width: 50%">
                            <label><strong>Inner Ranking:</strong></label><br>
                            <input type="radio" id="radio_inner_ranking_a" name="inner_ranking" value="inner_ranking_a"
                                   checked="checked">
                            <label for="radio_inner_ranking_a">Ranking that does a1 and some a2 and also a bit of
                                a3</label><br>
                            <input type="radio" id="radio_inner_ranking_b" name="inner_ranking" value="inner_ranking_b">
                            <label for="radio_inner_ranking_b">Ranking that does b1 and some b2 and also a bit of
                                b3</label><br>
                            <input type="radio" id="radio_inner_ranking_c" name="inner_ranking" value="inner_ranking_c">
                            <label for="radio_inner_ranking_c">Ranking that does c1 and some c2 and also a bit of
                                c3</label><br>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary" id="btn_search">
                        Search
                    </button>
                    <p id="help_search" class="form-text text-muted" aria-describedby="btn_search">
                        Please be patient. This process can take up to one minute.
                    </p>
                </form>
            </div>
        </div>


        <div class="accordion" id="accordionNarrativeDesigner">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Narrative Designer
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionNarrativeDesigner">
              <div class="card-body">
                <div id="App">
                    <div class="help-tip">
                        <p>- Click on node/edge to select it <br>
                            - Click the "Center-Button" to center your network <br>
                            - Click the "Clear-Button" to delete the network <br>
                            - For multiple select, hold ctrl and click on nodes/edges <br>
                            - Shortcuts: <br>
                            - n: create new node <br>
                            - e: create new edge <br>
                            - c: cluster <br>
                            - backspace/delete: to delete nodes or edges <br></p>
                    </div>

                    <button class="button" id="load" onClick="document.getElementById('tFile').click();"
                            class="btn btn-secondary"
                            data-toggle="tooltip" data-placement="left" title="Load"></button>
                    <button class="button" id="save" onClick=save() class="btn btn-secondary" data-toggle="tooltip"
                            data-placement="left" title="Save"></button>
                    <button class="button" id="undo" onClick=undo() class="btn btn-secondary" data-toggle="tooltip"
                            data-placement="left" title="Undo"></button>
                    <button class="button" id="redo" onClick=redo() class="btn btn-secondary" data-toggle="tooltip"
                            data-placement="left" title="Redo"></button>
                    <button class="button" id="center" onClick=centerNetwork() class="btn btn-secondary" data-toggle="tooltip"
                            data-placement="left" title="Center"></button>
                    <button class="button" id="clear" onClick=clear_all() class="btn btn-secondary" data-toggle="tooltip"
                            data-placement="left" title="Clear"></button>
                    <div id="mynetwork" onchange="createQuery();console.log(query + " onchange");">

            </div></div>
            </div>
          </div>
        </div>

    <div>
        <label for="query_translation"><strong>Query Translation</strong></label>
        <div id="query_translation">No query translation available.</div>
    </div>

    <div>
        <h2>Documents</h2>
    </div>
    <div class="row margin-top" id="div_wrapper_documents">
        <div id="div_documents"></div>
    </div>

    </div>
{% endblock %}

{% block javascript %}
     <script type="text/javascript" src="https://unpkg.com/vis-network@latest/dist/vis-network.min.js"></script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


     <script type="text/javascript">
        const search_url = "{% url 'search' %}";

    </script>
    <script src="{% static 'js/../../static/js/../../static/js/search.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/../../static/js/../../static/js/network.js' %}" type="text/javascript"></script>
{% endblock %}