@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --grey_light1: #e8e8e8;
    --grey_green: #f1f6e0;
    --grey_light2: #fafafa;
    --grey_dark1: #dbdbdb;
    --grey_dark2: #b0b0b0;
    --ifis_green: #8EB72B;
    --ifis_green_light:#adcc64; //#afd15e
    --action_green:#94b541;
    --action_green_highlight:#7e9e2f;
    --grey_border: #616161;

    --font: 'Poppins'
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    background-color: var(--ifis_green_light);
}

input {
    font-family: var(--font);
}

input:focus {
    outline: none;
    border-color: var(--action_green);
    box-shadow: 0 0 0.5em var(--action_green);
}

select {
    font-family: var(--font);
    option:hover {
        color: white;
        background-color: var(--action_green);
    }
}

p {
    margin: 0;
    font-size: 15px;
}

.popup {
    display: none;
    position: fixed;
    top: 3.5em;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.popup_dummie {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90%;
}

.loading {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    img {
        height: 2.5em;
        width: 2.5em;
        border-radius: 100em;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
    }
}

.searchbar {
    display: flex;
    position: relative;
    place-content: space-around;
    input {
        width: 85%;
        border-width: 1px 0px 1px 1px;
        border-style: solid;
        border-color: var(--grey_border);
        background-color: white;
        border-radius: 0.25em 0 0 0.25em;
        padding-left: 0.5em;
        font-size: 16px;
    }
    .autocomplete-items {
        display: flex;
        flex-flow: column;
        width: 84%;
        margin-right: 15%;

        position: absolute;
        border: 1px solid var(--grey_border);
        background-color: white;
        z-index: 99;
        top: 100%;
        div {
            text-align: left;
            font-size: 15px;
            width: auto;
            padding: 0.5em;
            cursor: pointer;
        }
        div:hover {
            background-color: var(--grey_light1);
        }
    }
    .autocomplete-active {
        background-color: var(--grey_light1) !important;
    }
    .button {
        background-color: var(--action_green);
        width: 15%;
        min-width: 3em;
        max-width: 8em;
        cursor: pointer;
        display: flex;
        border-width: 1px 1px 1px 0px;
        border-style: solid;
        border-color: var(--grey_border);
        border-radius: 0 0.25em 0.25em 0;
        justify-content: center;
        img {
            margin: 0.45em;
        }
    }
    .button:hover {
        background-color: var(--action_green_highlight);
    }
}

.topbar {
    height: 3.5em;
    width: 100%;
    display: flex;
    background-color: var(--grey_light1);
    position: fixed;
    top: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .nav_spacer {
        margin-right: auto;
        //width: 25%;
    }

    .nav_logos {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-left: auto;
        height: 100%;
        padding: 0.2em;
        margin-right: 1em;
    }
}

.topbar_link {
    display: flex;
    align-items: center;
    margin-left: 1%;
    position: relative;

    a {
        border-radius: 0.25em;
        padding: 0.6em 0.6em;
        text-decoration: none;
        color: #006dae;
        white-space: nowrap;
    }
    a:hover {
        background-color: whitesmoke;
    }
}

.navbar {
    height: 3.5em;
    width: 100%;
    display: flex;
    place-content: center;
    background-color: var(--grey_light1);
    position: fixed;
    z-index: 1000;
    top: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .searchbar {
        width: 35em;
        margin: 0.6em 0 0.6em 0;
        display: flex;
        place-content: space-around;
        height: 2.5em;
        flex-wrap: nowrap;
    }

    .nav_spacer {
        margin-right: auto;
    }

    .nav_logos {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-left: auto;
        height: 100%;
        padding: 0.2em;
    }
}

.content {
    margin: 3.5em 12% 5em 16%;
    background-color: white;
    padding: 2em 7% 7% 7%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar {
    width: calc(100% - 2% - (100% - 16%) - 1%);
    margin: 3.5em 1% 5em 1%; //top right bottom left
    padding: 1em 1% 3em 0.5%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background-color: white;
    position: fixed;
    overflow: hidden;

    p {
        text-align: center;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .link {
        padding: 0.25em;
        border-radius: 0.33em;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
        margin-bottom: 1em;
        color: black;
        cursor: pointer;
        white-space: nowrap;
        height: 1.5em;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }
    .link:hover {
            font-weight: bold;
    }

    .sidebar_entry_name {
        width: 77%;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
    }

    .sidebar_entry_count {
        width: 23%;
        position: relative;
    }
}

@media screen and (max-width: 1250px) {
    .sidebar .sidebar_entry_count {
        width: 30%;
    }
}

@media screen and (max-width: 1000px) {
    .newsdetail {
        overflow-y: scroll !important;
        .bottom {
            display: inline-block !important;
            .checkbox {
                margin-left: 0.5em !important;
                display: flex !important;
                flex-direction: row !important;
                flex-wrap: wrap !important;
                width: 95% !important;
                justify-content: center !important;
                padding-left: 0 !important;

                div {
                    margin-right: 0.5em !important;
                }
            }
            .paper {
                overflow-y: auto !important;
                width: 95% !important;
                margin-left: 0.5em !important;
                padding-left: 0 !important;
            }

            .graph {
                width: 95% !important;
                margin-left: 0.5em !important;
                margin-bottom: 2em !important;
                border: 1px solid var(--grey_border) !important;
            }

        }
    }

    .navbar{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        .nav_spacer {
            margin-right: unset;
        }

        .nav_logos {
            margin-left: unset;
        }

        .button {
            min-width: 2.2em;
        }

        .searchbar {
            display: flex;
            width: 50%;
            place-content: space-around;
            flex-wrap: nowrap;
            max-height: 2.5em;
            margin-left: auto;
            margin-right: auto;
        }

        :nth-child(1) {
            order: 1;
        }
        :nth-child(2) {
            order: 2;
        }
        :nth-child(3) {
            order: 4;
        }
        :nth-child(4) {
            order: 3;
        }
    }

    .searchbox {
        .top_searchbox {
            flex-wrap: wrap;
            .top_searchbox_left {
                white-space: nowrap;
            }
            .top_searchbox_right {
                flex-wrap: wrap;
                flex-direction: column;
            }
        }
    }

    .top_container {
        flex-wrap: wrap-reverse;

        img:hover {
            width: 15em !important;
            height: 15em !important;
        }
    }

    .sidebar .sidebar_entry_count {
        width: 35%;
    }

    .topbar{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
    }
}

@media screen and (max-width: 800px) {
    body {
        background-color: white;
    }
    //remove sidebar
    .sidebar {
        visibility: hidden;
        width: 0;
    }

    .content {
        margin: 5em 0 0 0;
    }
}

.main_page {
    padding: 8em 20% 9.5em 20%;
    text-align: center;

    .searchbar {
        width: 100%;
        height: 2.75em;
    }
    p {
        margin-top: 2em;
        text-align: center;
    }
}

.error_msg {
    display: none;
    background: rgba(255,0,0,0.6);
	justify-content: center;
	text-align: center;
    font-weight: bold;
	color: white;
	width: fit-content;
	margin: auto auto 2em auto;
	padding: 0.5em;
	border-radius: 1em;
}

.top_container {
    display: flex;
    .general_info {
        padding: 0;
        margin: 0 0 0 3em;
        h1 {
            margin: 0 0 0.5em 0;
            font-size: 24px;
        }
        td:nth-child(1) {
            font-weight: bold;
            font-size: 16px;
            text-align: right;
            padding: 0 1em 0 0;
        }
        td:nth-child(2) {
            font-size: 15px;
            text-align: left;
            padding: 0;
        }
    }
    img {
        border: 1px solid var(--grey_border);
        width: 15em;
        height: 15em;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    }
    img:hover {
        width: 24em;
        height: 24em;
    }
}

.container {
    margin-top: 2em;
    padding: 0.5em;
    background-color: var(--grey_dark1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}

.searchbox {
    .top_searchbox {
        display: flex;
        place-content: space-between;
        overflow-wrap: normal;
        .top_searchbox_left {
            display: flex;
            align-items: center;
            h2 {
                font-size: 16px;
                margin: 0;
            }
        }
        .top_searchbox_right {
            display: flex;
            .sortbar {
                background-color: white;
                margin-right: 0.5em;
                height: 1.75em;
                width: 10em;
                border: 1px solid var(--grey_border);
                border-radius: 0.25em;
                font-size: 15px;
            }
            .filterbar {
                height: 1.5em;
                width: 10em;
                border: 1px solid var(--grey_border);
                background-color: white;
                border-radius: 0.25em;
                padding-left: 0.5em;
                font-size: 15px;
            }
            .showall {
                display: flex;
                align-items: center;
                margin-right: 0.5em;
                font-size: 15px;
                input {
                    height: 1.4em;
                    width: 1.4em;
                }
            }
        }
    }
    .bottom_searchbox {
        margin: 0.5em 0 0 0;
        overflow-y: auto;
        height: auto;
        max-height: 15em;
        display: none;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        border-top: 1px solid var(--grey_border) ;
        div {
            background-color: var(--grey_light2);
            display: flex;
            align-items: center;
            margin: 0.5em;
            padding: 0.33em;
            border-radius: 0.33em;
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
            .phase {
                display: flex;
                align-items: center;
                margin-left: 0.5em;
                position: relative;

                img {
                    width: 1.25em;
                    height: 1.25em;
                }
            }
            .count {
                display: flex;
                height: 0.75em;
                margin: 0 0 0 0.5em;
                border-radius: 0.75em;
                box-shadow: none;
                a {
                    text-decoration: none;
                    font-size: 14px;
                    color: white;
                }
            }
        }
    }
}

#drugNetworkContent {
    margin: 0.5em;
    background-color: #1E2021;
}

.news {
    h2 {
        font-size: 16px;
        margin: 0;
    }
    .news_bottom {
        margin-top: 0.5em;
        display: none;
        flex-direction: row;
        overflow-x: scroll;
        align-content: flex-start;
        justify-content: flex-start;
        border-top: 1px solid var(--grey_border) ;
        div {
            display: flex;
            flex-direction: column;
            place-content: space-between;
            cursor: pointer;
            background-color: var(--grey_light2);
            width: 18em;
            margin: 0.75em 0 0.75em 0.75em;
            flex-shrink: 0;
            padding: 0.5em;
            border-radius: 0.33em;
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
            h2 {
                font-size: 15px;
            }
            .journal {
                margin-top: 0.5em;
                font-size: 15px;
            }
            .date {
                margin-top: 0.5em;
                font-size: 15px;
                font-style: italic;
            }
        }
        div:hover{
            background-color: var(--grey_green);
        }

    }
}

.newsdetail {
    height: 80%;
    background-color: white;
    margin: 2% 2% calc(3.5em + 2%) 2%;
    padding: 1em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
    .top {
        display: flex;
        place-content: space-between;
        align-items: center;
        height: 1.5em;
        div {
            cursor: pointer;
            display: flex;
            justify-content: center;
            border-radius: 1em;
            img {
                height: 1.5em;
                width: 1.5em;
            }
        }
        div:hover {
            background-color: var(--grey_dark1);
        }
        a {
            display: flex;
        }
        img {
            align-self: center;
            height: 1.5em;
            width: 1.5em;
        }
    }
    .bottom {
        display: flex;
        height: 95%;
        margin-top: 1em;
        border-top: 1px solid var(--grey_border);
        .checkbox {
            display: flex;
            overflow: hidden;
            flex-direction: column;
            width: 10%;
            padding: 0.75em;
            div {
                display: flex;
                align-items: center;
                overflow: hidden;
                box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
                border-radius: 0.33em;
                margin-bottom: 0.75em;
                padding: 0.2em;
                input {
                    height: 1.5em;
                    width: 1.5em;
                    cursor: pointer;
                }
                label {
                    margin-left: 0.33em;
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

            }
        }
        .paper {
            overflow-y: scroll;
            width: 47%;
            padding: 0.75em 1.5em 0.75em 1.5em;
            a:link, a:visited {
                border-radius: 0.33em;
                text-decoration: none;
                color: black;
            }
            h2 {
                font-size: 22px;
                margin: 0;
            }
            .author {
                margin-top: 0.75em;
                font-size: 15px;
            }
            .journal {
                border-top: 1px solid var(--grey_border);
                margin-top: 1em;
                font-size: 15px;
                text-align: center;
                font-weight: bold;
            }
            .date {
                margin-top: 0.5em;
                font-size: 15px;
                font-style: italic;
                border-bottom: 1px solid var(--grey_border);
                text-align: center;
            }
            .abstract {
                font-size: 16px;
                margin-top: 1em;
            }
        }
        .graph {
            background-color: #eeeeee;
            border: 1px solid var(--grey_border);
            border-top: 0;
            margin: 0 0.75em 0.75em 0;
            height: 100%;
            width: 43%;
        }
    }
}

.classTagsHeader {
    margin-right: 0.25em;
    font-weight: bold;
}

.classTags {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

#classificationHeader {
    border-top: 1px solid var(--grey_border);
    margin-bottom: 0;
    padding-top: 0.25em;
}

.feedbackbtn {
    position: fixed;
    bottom: 5px;
    right: 10px;
}

.feedback_window {
    margin: 2% 15%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: calc(100% - 8% - 3.5em);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
}

.feedback_header {
    display: flex;
    place-content: space-between;
    align-items: center;
    padding: 1em;
    height: 5%;
    border-bottom: 1px solid #dee2e6;

    div {
        cursor: pointer;
        display: flex;
        justify-content: center;
        border-radius: 1em;
        img {
            height: 1.5em;
            width: 1.5em;
        }
    }
}

.feedback_body {
    display: flex;
    flex-direction: column;
    padding: 2% 8%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85%;
    border-bottom: 1px solid #dee2e6;
}

.feedback_screen_wrap {
    position: relative;

    img {
        border: 1px #0d6efd solid;
        width: 100%;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        cursor: crosshair;
        width: 100%;
    }

    //div {
    //    width: 100%;
    //}
}

.feedback_footer {
    padding: 0.75rem;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    //height: 5%;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.feedback_button {
    padding: 0.25em;
    border-radius: 0.33em;
    color: #fff;
    cursor: pointer;
    border: 1px solid #ededed;
    width: fit-content;
}

.feedback_button:hover {
    //box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
    border: 1px solid #494949;
}


.noscript {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);

    z-index: 2000;

    display: flex;
    align-items: center;
    align-content: center;

    position: absolute;
    top: 0;
    left: 0;

    div {
        background-color: rgba(180, 30, 30, 1);
        border-radius: 1em;
        font-size: x-large;
        margin: auto;
        padding: 2em 3.5em;
        text-align: center;
        font-weight: bold;
        color: white;
    }
}

ul.cloud {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid var(--grey_border);

    list-style: none;
    padding-left: 0;

    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    line-height: 2.5rem;
}

ul.cloud li[data-weight="1"] { --size: 3; --angle: -0.5;}
ul.cloud li[data-weight="2"] { --size: 3.5; --angle: 0.5;}
ul.cloud li[data-weight="3"] { --size: 4; --angle: 1;}
ul.cloud li[data-weight="4"] { --size: 4.5; --angle: -1;}
ul.cloud li[data-weight="5"] { --size: 5; --angle: -1.5;}
ul.cloud li[data-weight="6"] { --size: 5.5; --angle: 1.5;}
ul.cloud li[data-weight="7"] { --size: 6; --angle: -2;}
ul.cloud li[data-weight="8"] { --size: 6.2; --angle: 2;}

ul.cloud li:nth-child(n+1) { --color: #ab0c0c; }
ul.cloud li:nth-child(2n+1) { --color: #259825; }
ul.cloud li:nth-child(3n+1) { --color: #3c3ccb; }
ul.cloud li:nth-child(4n+1) { --color: #cc7333; }

ul.cloud li {
    --size: attr(data-weight number, 2);

    display: block;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;
    transform: rotate(calc(var(--angle) * 1deg));

    color: var(--color);
    font-family: Impact, serif;
    font-size: calc(var(--size) * 0.25rem + 0.5rem);
}

ul.cloud li:hover {
    background: rgba(245, 245, 245, 0.4);
    border-radius: 0.25em;
}

.word_cloud h2 {
    font-size: 16px;
    margin: 0;
}
