:root {
  --grey_light1: #e8e8e8;
  --grey_green: #f1f6e0;
  --grey_light2: #fafafa;
  --grey_dark1: #dbdbdb;
  --grey_dark2: #b0b0b0;
  --action_green:#94b541;
  --action_green_highlight:#7e9e2f;
  --grey_border: #616161;
  --background: #eeeeee;
}

/* MISSING BOOTSTRAP5 STYLES */
.vh-95 {
  height: 95vh !important;
}
.h-graph {
  height: calc(100% - 5.5rem);
}
.dp-none {
  display: none;
}
.w-fc {
  width: fit-content;
}
.fs-0-85 {
  font-size: 0.85rem;
}
.fs-0-75 {
  font-size: 0.75rem;
}
.bg-light-grey {
  background-color: var(--background)
}
.shadow-sm:hover {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
  cursor: pointer;
}

/* DRUG OVERVIEW INDEX (UNUSED)*/
p {
  margin: 0;
  font-size: 15px;
}
.main_page {
  padding: 10em 20% 9.5em 20%;
  text-align: center;
  margin: 0 12% 5em 16%;
}
.main_page h1 {
  font-weight: bold;
  margin-bottom: 0.5em;
}
.main_page .searchbar {
  width: 100%;
  height: 2.75em;
}
.main_page p {
  margin-top: 2em;
  text-align: center;
}
select option:hover {
  color: white;
  background-color: var(--action_green);
}

/* SEARCHBAR AUTOCOMPLETE STYLE */
.autocomplete-items {
  display: flex;
  flex-flow: column;
  position: absolute;
  z-index: 99;
  top: 100%;
}
.autocomplete-items div {
  font-size: 15px;
  padding: 0.5em;
  text-align: left;
  cursor: pointer;
  margin-bottom: 0.25em;
}
.autocomplete-items div:hover {
  background-color: var(--grey_light1);
}
.autocomplete-active {
  background-color: var(--grey_light1) !important;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}
.popup_dummie {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 90%;
}

/* DRUG INFORMATIONS */
.general_info td:nth-child(1) {
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  padding: 0 1em 0 0;
}
.general_info td:nth-child(2) {
  font-size: 15px;
  text-align: left;
  padding: 0;
}
.drug-structure {
  width: 15em;
  height: 15em;
}

/* CONTAINER CONTENT ALIGNMENT */
.bottom_searchbox {
  max-height: 15rem;
  height: auto;
  overflow-y: auto;
  display: none;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}
.bottom_searchbox div {
  background-color: var(--grey_light2);
  display: flex;
  align-items: center;
  margin: 0.5em;
  padding: 0.33em;
  border-radius: 0.33em;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.bottom_searchbox div .phase {
  display: flex;
  align-items: center;
  margin-left: 0.5em;
  position: relative;
}
.bottom_searchbox div .phase img {
  width: 1.25em;
  height: 1.25em;
}
.bottom_searchbox div .count {
  display: flex;
  height: 1.5em;
  margin: 0 0 0 0.5em;
  border-radius: 0.75em;
  box-shadow: none;
}
.bottom_searchbox div .count a {
  text-decoration: none;
  font-size: 14px;
  color: white;
}

/* NEWS SLIDER (BOTTOM CONTAINER) */
.news_bottom {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-content: flex-start;
  justify-content: flex-start;
}
.news_bottom div {
  display: flex;
  flex-direction: column;
  place-content: space-between;
  cursor: pointer;
  background-color: var(--grey_light2);
  width: 18em;
  margin: 0.75em 0 0.75em 0.75em;
  flex-shrink: 0;
  padding: 0.5em;
  border-radius: 0.33em;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.news_bottom div h2 {
  font-size: 15px;
  font-weight: bold;
}
.news_bottom div .journal {
  margin-top: 0.5em;
  font-size: 15px;
}
.news_bottom div .date {
  margin-top: 0.5em;
  font-size: 15px;
  font-style: italic;
}
.news_bottom div:hover {
  background-color: var(--grey_green);
}

/* NEWS-POPUP STYLES */
.newsdetail {
  height: 90%;
  background-color: white;
  margin: 2% 2% calc(2%) 2%;
  padding: 1em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
}
.newsdetail .top {
  display: flex;
  place-content: space-between;
  align-items: center;
  height: 1.5em;
}
.newsdetail .top div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 1em;
}
.newsdetail .top div img {
  height: 1.5em;
  width: 1.5em;
}
.newsdetail .top div:hover {
  background-color: var(--grey_dark1);
}
.newsdetail .top a {
  display: flex;
}
.newsdetail .top img {
  align-self: center;
  height: 1.5em;
  width: 1.5em;
}
.newsdetail .bottom {
  display: flex;
  height: 95%;
  margin-top: 1em;
  border-top: 1px solid var(--grey_border);
}
.newsdetail .bottom .checkbox {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 10%;
  padding: 0.75em;
}
.newsdetail .bottom .checkbox div {
  display: flex;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.33em;
  margin-bottom: 0.75em;
  padding: 0.2em;
}
.newsdetail .bottom .checkbox div input {
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
}
.newsdetail .bottom .checkbox div label {
  margin-left: 0.33em;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.newsdetail .bottom .paper {
  overscroll-behavior: contain; /* prevent scroll body */
  overflow-y: scroll;
  width: 47%;
  padding: 0.75em 1.5em 0.75em 1.5em;
}
.newsdetail .bottom .paper a:link, .newsdetail .bottom .paper a:visited {
  border-radius: 0.33em;
  text-decoration: none;
  color: black;
}
.newsdetail .bottom .paper h2 {
  font-size: 22px;
  margin: 0;
}
.newsdetail .bottom .paper .author {
  margin-top: 0.75em;
  font-size: 15px;
}
.newsdetail .bottom .paper .journal {
  border-top: 1px solid var(--grey_border);
  margin-top: 1em;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.newsdetail .bottom .paper .date {
  margin-top: 0.5em;
  font-size: 15px;
  font-style: italic;
  border-bottom: 1px solid var(--grey_border);
  text-align: center;
}
.newsdetail .bottom .paper .abstract {
  font-size: 16px;
  margin-top: 1em;
}
.newsdetail .bottom .graphContainer {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  border: 1px solid var(--grey_border);
  border-top: 0;
  margin: 0 0.75em 0.75em 0;
  height: 100%;
  width: 43%;
}
.newsdetail .bottom .graphContainer .graphNetwork{
  height: calc(100% - 2.5em);
}
.newsdetail .bottom .graphContainer .graphFooter{
  display: flex;
}

.classTagsHeader {
  margin-right: 0.25em;
  font-weight: bold;
}
.classTags {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

#classificationHeader {
  border-top: 1px solid var(--grey_border);
  margin-bottom: 0;
  padding-top: 0.25em;
}

/* FEEDBACK STYLES */
.coveringCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: crosshair;
}
.insideWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.feedbackbtn {
  position: fixed;
  bottom: 5px;
  right: 10px;
}

/* NOSCRIPT STYLING (js disabled...) */
.noscript {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2000;
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
.noscript div {
  background-color: rgb(180, 30, 30);
  border-radius: 1em;
  font-size: x-large;
  margin: auto;
  padding: 2em 3.5em;
  text-align: center;
  font-weight: bold;
  color: white;
}

/* KEYWORD CLOUD STYLES */
ul.cloud {
  list-style: none;
  padding-left: 0;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}
ul.cloud li[data-weight="1"] {
  --size: 3;
  --angle: -0.5;
}
ul.cloud li[data-weight="2"] {
  --size: 3.5;
  --angle: 0.5;
}
ul.cloud li[data-weight="3"] {
  --size: 4;
  --angle: 1;
}
ul.cloud li[data-weight="4"] {
  --size: 4.5;
  --angle: -1;
}
ul.cloud li[data-weight="5"] {
  --size: 5;
  --angle: -1.5;
}
ul.cloud li[data-weight="6"] {
  --size: 5.5;
  --angle: 1.5;
}
ul.cloud li[data-weight="7"] {
  --size: 6;
  --angle: -2;
}
ul.cloud li[data-weight="8"] {
  --size: 6.2;
  --angle: 2;
}
ul.cloud li:nth-child(n+1) {
  --color: #ab0c0c;
}
ul.cloud li:nth-child(2n+1) {
  --color: #259825;
}
ul.cloud li:nth-child(3n+1) {
  --color: #3c3ccb;
}
ul.cloud li:nth-child(4n+1) {
  --color: #cc7333;
}
ul.cloud li {
  --size: attr(data-weight number, 2);
  display: block;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
  transform: rotate(calc(var(--angle) * 1deg));
  color: var(--color);
  font-family: Impact, serif;
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
}
ul.cloud li:hover {
  background: rgba(190, 190, 190, 0.4);
  border-radius: 0.25em;
  cursor: default;
}
.word_cloud h2 {
  font-size: 16px;
  margin: 0;
}

/* BOOTSTRAP STYLE WRAPPER */
@media (min-width: 576px) {
  .drug-structure:hover {
    width: 24em;
    height: 24em;
  }
}
@media (min-width: 992px) {
  .wide-size-sidebar {
    position: fixed !important;
    max-width: 215px !important;
    margin-left: 5% !important;
  }

  .wide-size-content {
    /* 17% cause of 16.666% width of the fixed sidebar */
    margin-left: 18% !important;
    margin-right: auto !important;
  }
}
@media (min-width: 1650px) {
  .wide-size-content {
    /* 17% cause of 16.666% width of the fixed sidebar */
    margin-left: 16% !important;
    margin-right: auto !important;
  }
}


@media screen and (max-width: 1000px) {
  .newsdetail {
    overflow-y: scroll !important;
    overscroll-behavior: contain !important; /* prevent scroll body */
  }
  .newsdetail .bottom {
    display: inline-block !important;
  }
  .newsdetail .bottom .checkbox {
    margin-left: 0.5em !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 95% !important;
    justify-content: center !important;
    padding-left: 0 !important;
  }
  .newsdetail .bottom .checkbox div {
    margin-right: 0.5em !important;
  }
  .newsdetail .bottom .paper {
    overflow-y: auto !important;
    width: 95% !important;
    margin-left: 0.5em !important;
    padding-left: 0 !important;
  }
  .newsdetail .bottom .graphContainer {
    width: 95% !important;
    margin-left: 0.5em !important;
    margin-bottom: 2em !important;
    border: 1px solid var(--grey_border) !important;
  }
}

/* BOOTSTRAP ADDITIONAL COLOR THEMES (BASED ON ENTITY COLORS - used autogenerator) */
/* GENERATED BY BOOTSTRAP 5 COLOR THEME GENERATOR */
/* https://bootstrapcolors.com */
.btn-outline-drug {
  color: #ff8181;
  border-color: #ff8181; }
  .btn-outline-drug:hover {
    color: #000;
    background-color: #ff8181;
    border-color: #ff8181; }
  .btn-check:focus + .btn-outline-drug, .btn-outline-drug:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 129, 129, 0.5); }
  .btn-check:checked + .btn-outline-drug, .btn-check:active + .btn-outline-drug, .btn-outline-drug:active, .btn-outline-drug.active, .btn-outline-drug.dropdown-toggle.show {
    color: #000;
    background-color: #ff8181;
    border-color: #ff8181; }
    .btn-check:checked + .btn-outline-drug:focus, .btn-check:active + .btn-outline-drug:focus, .btn-outline-drug:active:focus, .btn-outline-drug.active:focus, .btn-outline-drug.dropdown-toggle.show:focus {
      box-shadow: 0 0 0 0.25rem rgba(255, 129, 129, 0.5); }
  .btn-outline-drug:disabled, .btn-outline-drug.disabled {
    color: #ff8181;
    background-color: transparent; }

.table-drug {
  --bs-table-bg: #ff8181;
  --bs-table-striped-bg: #f27b7b;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e67474;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #ec7777;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #e67474; }

.alert-drug {
  color: #994d4d;
  background-color: #ffe6e6;
  border-color: #ffd9d9; }
  .alert-drug .alert-link {
    color: #7a3e3e; }

.bg-drug {
  background-color: #ff8181 !important; }

.text-drug {
  color: #ff8181 !important; }

.border-drug {
  border-color: #ff8181 !important; }

.link-drug {
  color: #ff8181; }
  .link-drug:hover, .link-drug:focus {
    color: #ff9a9a; }

.list-group-item-drug {
  color: #994d4d;
  background-color: #ffe6e6; }
  .list-group-item-drug.list-group-item-action:hover, .list-group-item-drug.list-group-item-action:focus {
    color: #994d4d;
    background-color: #e6cfcf; }
  .list-group-item-drug.list-group-item-action.active {
    color: #fff;
    background-color: #994d4d;
    border-color: #994d4d; }

.btn-drug {
  color: #000000;
  background-color: #ff8181;
  border-color: #ff8181; }
  .btn-drug:hover {
    color: #000000;
    background-color: #ff9494;
    border-color: #ff8e8e; }
  .btn-check:focus + .btn-drug, .btn-drug:focus {
    color: #000000;
    background-color: #ff9494;
    border-color: #ff8e8e;
    box-shadow: 0 0 0 0.25rem rgba(217, 110, 110, 0.5); }
  .btn-check:checked + .btn-drug, .btn-check:active + .btn-drug, .btn-drug:active, .btn-drug.active, .show > .btn-drug.dropdown-toggle {
    color: #000000;
    background-color: #ff9a9a;
    border-color: #ff8e8e; }
    .btn-check:checked + .btn-drug:focus, .btn-check:active + .btn-drug:focus, .btn-drug:active:focus, .btn-drug.active:focus, .show > .btn-drug.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.25rem rgba(217, 110, 110, 0.5); }
  .btn-drug:disabled, .btn-drug.disabled {
    color: #000000;
    background-color: #ff8181;
    border-color: #ff8181; }

.btn-outline-disease {
  color: #aeff9a;
  border-color: #aeff9a; }
  .btn-outline-disease:hover {
    color: #000;
    background-color: #aeff9a;
    border-color: #aeff9a; }
  .btn-check:focus + .btn-outline-disease, .btn-outline-disease:focus {
    box-shadow: 0 0 0 0.25rem rgba(174, 255, 154, 0.5); }
  .btn-check:checked + .btn-outline-disease, .btn-check:active + .btn-outline-disease, .btn-outline-disease:active, .btn-outline-disease.active, .btn-outline-disease.dropdown-toggle.show {
    color: #000;
    background-color: #aeff9a;
    border-color: #aeff9a; }
    .btn-check:checked + .btn-outline-disease:focus, .btn-check:active + .btn-outline-disease:focus, .btn-outline-disease:active:focus, .btn-outline-disease.active:focus, .btn-outline-disease.dropdown-toggle.show:focus {
      box-shadow: 0 0 0 0.25rem rgba(174, 255, 154, 0.5); }
  .btn-outline-disease:disabled, .btn-outline-disease.disabled {
    color: #aeff9a;
    background-color: transparent; }

.table-disease {
  --bs-table-bg: #aeff9a;
  --bs-table-striped-bg: #a5f292;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #9de68b;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #a1ec8e;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #9de68b; }

.alert-disease {
  color: #46663e;
  background-color: #efffeb;
  border-color: #e7ffe1; }
  .alert-disease .alert-link {
    color: #385232; }

.bg-disease {
  background-color: #aeff9a !important; }

.text-disease {
  color: #aeff9a !important; }

.border-disease {
  border-color: #aeff9a !important; }

.link-disease {
  color: #aeff9a; }
  .link-disease:hover, .link-disease:focus {
    color: #beffae; }

.list-group-item-disease {
  color: #46663e;
  background-color: #efffeb; }
  .list-group-item-disease.list-group-item-action:hover, .list-group-item-disease.list-group-item-action:focus {
    color: #46663e;
    background-color: #d7e6d4; }
  .list-group-item-disease.list-group-item-action.active {
    color: #fff;
    background-color: #46663e;
    border-color: #46663e; }

.btn-disease {
  color: #000000;
  background-color: #aeff9a;
  border-color: #aeff9a; }
  .btn-disease:hover {
    color: #000000;
    background-color: #baffa9;
    border-color: #b6ffa4; }
  .btn-check:focus + .btn-disease, .btn-disease:focus {
    color: #000000;
    background-color: #baffa9;
    border-color: #b6ffa4;
    box-shadow: 0 0 0 0.25rem rgba(148, 217, 131, 0.5); }
  .btn-check:checked + .btn-disease, .btn-check:active + .btn-disease, .btn-disease:active, .btn-disease.active, .show > .btn-disease.dropdown-toggle {
    color: #000000;
    background-color: #beffae;
    border-color: #b6ffa4; }
    .btn-check:checked + .btn-disease:focus, .btn-check:active + .btn-disease:focus, .btn-disease:active:focus, .btn-disease.active:focus, .show > .btn-disease.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.25rem rgba(148, 217, 131, 0.5); }
  .btn-disease:disabled, .btn-disease.disabled {
    color: #000000;
    background-color: #aeff9a;
    border-color: #aeff9a; }

.btn-outline-target {
  color: #b88cff;
  border-color: #b88cff; }
  .btn-outline-target:hover {
    color: #000;
    background-color: #b88cff;
    border-color: #b88cff; }
  .btn-check:focus + .btn-outline-target, .btn-outline-target:focus {
    box-shadow: 0 0 0 0.25rem rgba(184, 140, 255, 0.5); }
  .btn-check:checked + .btn-outline-target, .btn-check:active + .btn-outline-target, .btn-outline-target:active, .btn-outline-target.active, .btn-outline-target.dropdown-toggle.show {
    color: #000;
    background-color: #b88cff;
    border-color: #b88cff; }
    .btn-check:checked + .btn-outline-target:focus, .btn-check:active + .btn-outline-target:focus, .btn-outline-target:active:focus, .btn-outline-target.active:focus, .btn-outline-target.dropdown-toggle.show:focus {
      box-shadow: 0 0 0 0.25rem rgba(184, 140, 255, 0.5); }
  .btn-outline-target:disabled, .btn-outline-target.disabled {
    color: #b88cff;
    background-color: transparent; }

.table-target {
  --bs-table-bg: #b88cff;
  --bs-table-striped-bg: #af85f2;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #a67ee6;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #aa82ec;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #a67ee6; }

.alert-target {
  color: #6e5499;
  background-color: #f1e8ff;
  border-color: #eaddff; }
  .alert-target .alert-link {
    color: #58437a; }

.bg-target {
  background-color: #b88cff !important; }

.text-target {
  color: #b88cff !important; }

.border-target {
  border-color: #b88cff !important; }

.link-target {
  color: #b88cff; }
  .link-target:hover, .link-target:focus {
    color: #c6a3ff; }

.list-group-item-target {
  color: #6e5499;
  background-color: #f1e8ff; }
  .list-group-item-target.list-group-item-action:hover, .list-group-item-target.list-group-item-action:focus {
    color: #6e5499;
    background-color: #d9d1e6; }
  .list-group-item-target.list-group-item-action.active {
    color: #fff;
    background-color: #6e5499;
    border-color: #6e5499; }

.btn-target {
  color: #000000;
  background-color: #b88cff;
  border-color: #b88cff; }
  .btn-target:hover {
    color: #000000;
    background-color: #c39dff;
    border-color: #bf98ff; }
  .btn-check:focus + .btn-target, .btn-target:focus {
    color: #000000;
    background-color: #c39dff;
    border-color: #bf98ff;
    box-shadow: 0 0 0 0.25rem rgba(156, 119, 217, 0.5); }
  .btn-check:checked + .btn-target, .btn-check:active + .btn-target, .btn-target:active, .btn-target.active, .show > .btn-target.dropdown-toggle {
    color: #000000;
    background-color: #c6a3ff;
    border-color: #bf98ff; }
    .btn-check:checked + .btn-target:focus, .btn-check:active + .btn-target:focus, .btn-target:active:focus, .btn-target.active:focus, .show > .btn-target.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.25rem rgba(156, 119, 217, 0.5); }
  .btn-target:disabled, .btn-target.disabled {
    color: #000000;
    background-color: #b88cff;
    border-color: #b88cff; }
