@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --grey_light1: #e8e8e8;
    --grey_green: #f1f6e0;
    --grey_light2: #fafafa;
    --grey_dark1: #dbdbdb;
    --grey_dark2: #b0b0b0;
    --ifis_green: #8EB72B;
    --ifis_green_light:#adcc64; //#afd15e
    --action_green:#94b541;
    --action_green_highlight:#7e9e2f;
    --grey_border: #616161;
    --Disease: #aeff9a;
    --Drug: #ff8181;
    --Species: #b88cff;
    --Excipient: #ffc582;
    --LabMethod: #8aaaff;
    --Chemical: #fff38c;
    --Gene: #94eaff;
    --Method: #e280c1;
    --DosageForm: #dbfa92;
    --font: 'Poppins'
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    background-color: var(--ifis_green_light);
}

input {
    font-family: var(--font);
}

input:focus {
    outline: none;
    border-color: var(--action_green);
    box-shadow: 0 0 0.5em var(--action_green);
}

select {
    font-family: var(--font);
    option:hover {
        color: white;
        background-color: var(--action_green);
    }
}

p {
    margin: 0;
    font-size: 15px;
}

.loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3.5;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    img {
        border-radius: 100em;
        height: 4em;
        width: 4em;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
    }
}

.popup {
    display: none;
    position: fixed;
    top: 3.5em;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.popup_dummie {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.topbar {
    height: 3.5em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--grey_light1);
    position: fixed;
    top: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
    height: 3.5em;
    width: 100%;
    display: flex;
    place-content: space-between;
    background-color: var(--grey_light1);
    position: fixed;
    top: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .searchbar {
        margin: 0.6em 0 0.6em 0;
        width: 35em;
        input {
            width: 85%;
        }
        .autocomplete-items {
            position: absolute;
            border: 1px solid var(--grey_border);
            background-color: white;
            z-index: 99;
            width: auto;
            top: 100%;
            div {
                text-align: left;
                font-size: 15px;
                width: auto;
                padding: 0.5em;
                cursor: pointer;
            }
            div:hover {
                background-color: var(--grey_light1);
            }
        }
        .autocomplete-active {
            background-color: var(--grey_light1) !important;
        }
        div {
            width: 15%;
        }
    }
}

.ifislogo {
    width: auto;
    height: 90%;
    margin: 0.15em;
    float: right;
}

.content {
    margin: 3.5em 12% 5em 12%;
    background-color: white;
    padding: 2em 7% 7% 7%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
    background-color: var(--grey_dark2);
    height: 8em;
}

.main_page {
    padding: 9em 20% 9.5em 20%;
    text-align: center;
    .logo {
        width: 25em;
        height: auto;
    }
    .searchbar {
        margin-top: 2em;
        width: auto;
        height: 2.5em;
        input {
            width: 85%;
            font-size: 17px;
        }
        .autocomplete-items {
            position: absolute;
            border: 1px solid var(--grey_border);
            background-color: white;
            z-index: 99;
            width: auto;
            top: 100%;
            div {
                text-align: left;
                font-size: 15px;
                width: auto;
                padding: 0.5em;
                cursor: pointer;
            }
            div:hover {
                background-color: var(--grey_light1);
            }
        }
        .autocomplete-active {
            background-color: var(--grey_light1) !important;
        }
        div {
            width: 15%;
        }
    }
    p {
        margin-top: 2em;
        text-align: center;
    }
}

.top_container {
    display: flex;
    .general_info {
        padding: 0;
        margin: 0 0 0 3em;
        h1 {
            margin: 0 0 0.5em 0;
            font-size: 24px;
        }
        td:nth-child(1) {
            font-weight: bold;
            font-size: 16px;
            text-align: right;
            padding: 0 1em 0 0;
        }
        td:nth-child(2) {
            font-size: 15px;
            text-align: left;
            padding: 0;
        }
    }
    img {
        border: 1px solid var(--grey_border);
        width: 15em;
        height: 15em;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    }
    img:hover {
        width: 24em;
        height: 24em;
    }
}

.container {
    margin-top: 2em;
    padding: 0.5em;
    background-color: var(--grey_dark1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}

.searchbar {
    display: flex;
    position: relative;
    place-content: space-between;
    input {
        border-width: 1px 0px 1px 1px;
        border-style: solid;
        border-color: var(--grey_border);
        background-color: white;
        border-radius: 0.25em 0 0 0.25em;
        padding-left: 0.5em;
        font-size: 15px;
    }
    .button {
        background-color: var(--action_green);
        cursor: pointer;
        display: flex;
        border-width: 1px 1px 1px 0px;
        border-style: solid;
        border-color: var(--grey_border);
        border-radius: 0 0.25em 0.25em 0;
        justify-content: center;
        img {
            margin: 0.33em;
        }
    }
    .button:hover {
        background-color: var(--action_green_highlight);
    }
}

.sortbar {
    border: 1px solid var(--grey_border);
    border-radius: 0.25em;
    font-size: 15px;
}

.searchbox {
    .top_searchbox {
        display: flex;
        place-content: space-between;
        .top_searchbox_left {
            display: flex;
            align-items: center;
            h2 {
                font-size: 16px;
                margin: 0;
            }
            .plusButton {
                margin-left: 0.5em;
                background-color: var(--action_green);
                cursor: pointer;
                display: flex;
                border: 1px solid var(--grey_border);
                border-radius: 2em;
                justify-content: center;
                img {
                    margin: 0.15em;
                    width: 1em;
                    height: 1em;
                }
            }
            .plusButton:hover {
                background-color: var(--action_green_highlight);
            }
        }
        .top_searchbox_right {
            display: none;
            .searchbar {
                height: 1.5em;
                width: 13em;
                input {
                    width: 80%;
                }
                div {
                    width: 20%;
                }
            }
            .sortbar {
                margin-right: 0.5em;
                height: 1.75em;
                width: 10em;

            }
        }
    }
    .bottom_searchbox {
        margin-top: 0.5em;
        overflow-y: scroll;
        height: 15em;
        display: none;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        border-top: 1px solid var(--grey_border) ;
        div {
            background-color: var(--grey_light2);
            display: flex;
            align-items: center;
            margin: 1em 0 0 1em;
            padding: 0.33em;
            border-radius: 0.33em;
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
            .phase {
                display: flex;
                align-items: center;
                margin-left: 0.5em;

                img {
                    width: 1.25em;
                    height: 1.25em;
                }
            }
            .count {
                display: flex;
                height: 0.75em;
                margin: 0 0 0 0.5em;
                border-radius: 0.75em;
                box-shadow: none;
                a {
                    text-decoration: none;
                    font-size: 14px;
                    color: white;
                }
            }
        }
    }
    .bottom_searchbox_simple {
        margin-top: 0.5em;
        padding: 0 0.75em 0.75em 0;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        border-top: 1px solid var(--grey_border) ;
        div {
            background-color: var(--grey_light2);
            display: flex;
            align-items: center;
            margin: 0.75em 0 0 0.75em;
            padding: 0.33em;
            border-radius: 0.33em;
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
            .phase {
                margin-left: 0.5em;
                display: flex;
                align-items: center;
                img {
                    width: 1.25em;
                    height: 1.25em;
                }
            }
            .count {
                display: flex;
                height: 0.75em;
                margin: 0 0 0 0.5em;
                border-radius: 0.75em;
                box-shadow: none;
                a {
                    text-decoration: none;
                    font-size: 14px;
                    color: white;
                }
            }
        }
    }
}



.news {
    h2 {
        font-size: 16px;
        margin: 0;
    }
    .news_bottom {
        margin-top: 0.5em;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        align-content: flex-start;
        justify-content: flex-start;
        border-top: 1px solid var(--grey_border) ;
        div {
            display: flex;
            flex-direction: column;
            place-content: space-between;
            cursor: pointer;
            background-color: var(--grey_light2);
            width: 18em;
            margin: 0.75em 0 0.75em 0.75em;
            flex-shrink: 0;
            padding: 0.5em;
            border-radius: 0.33em;
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
            h2 {
                font-size: 15px;
            }
            .journal {
                margin-top: 0.5em;
                font-size: 15px;
            }
            .date {
                margin-top: 0.5em;
                font-size: 15px;
                font-style: italic;
            }
        }
        div:hover{
            background-color: var(--grey_green);
        }

    }
}

.newsdetail {
    background-color: white;
    margin: 3% 11% 6% 11%;
    padding: 1em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
    .top {
        display: flex;
        place-content: space-between;
        align-items: center;
        height: 1.5em;
        div {
            cursor: pointer;
            display: flex;
            justify-content: center;
            border-radius: 1em;
            img {
                height: 1.5em;
                width: 1.5em;
            }
        }
        div:hover {
            background-color: var(--grey_dark1);
        }
    }
    .bottom {
        display: flex;
        height: 95%;
        margin-top: 1em;
        border-top: 1px solid var(--grey_border);
        .checkbox {
            display: flex;
            flex-direction: column;
            width: 14%;
            padding: 0.75em;
            div {
                display: flex;
                align-items: center;
                box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
                border-radius: 0.33em;
                margin-bottom: 0.75em;
                padding: 0.2em;
                input {
                    height: 1.5em;
                    width: 1.5em;
                    cursor: pointer;
                }
                label {
                    margin-left: 0.33em;
                    font-size: 16px;
                }

            }
        }
        .paper {
            overflow-y: scroll;
            width: 43%;
            padding: 0.75em 1.5em 0.75em 1.5em;
            a:link, a:visited {
                border-radius: 0.33em;
                text-decoration: none;
                color: black;
            }
            h2 {
                font-size: 22px;
                margin: 0;
            }
            .author {
                margin-top: 0.75em;
                font-size: 15px;
            }
            .journal {
                border-top: 1px solid var(--grey_border);
                margin-top: 1em;
                font-size: 15px;
                text-align: center;
                font-weight: bold;
            }
            .date {
                margin-top: 0.5em;
                font-size: 15px;
                font-style: italic;
                border-bottom: 1px solid var(--grey_border);
                text-align: center;
            }
            .abstract {
                font-size: 16px;
                margin-top: 1em;
            }
        }
        .graph {
            background-color: #eeeeee;
            border: 1px solid var(--grey_border);
            border-top: 0;
            margin: 0 0.75em 0.75em 0;
            height: 100%;
            width: 43%;
        }
    }
    .Disease {
        background-color: var(--Disease);
    }
    .Drug {
        background-color: var(--Drug);
    }
    .Species {
        background-color: var(--Species);
    }
    .Excipient {
        background-color: var(--Excipient);
    }
    .LabMethod {
        background-color: var(--LabMethod);
    }
    .Chemical {
        background-color: var(--Chemical);
    }
    .Gene {
        background-color: var(--Gene);
    }
    .Method{
        background-color: var(--Method);
    }
    .DosageForm{
        background-color: var(--Method);
    }
}

.history {
    h2 {
        margin: 0 1em 0 0;
        font-size: 16px;
    }
    img {
        margin-top: 0.5em;
        width: 100%;
        border: 1px solid var(--grey_border);
    }
}