@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --grey_light1: #e8e8e8;
  --grey_green: #f1f6e0;
  --grey_light2: #fafafa;
  --grey_dark1: #dbdbdb;
  --grey_dark2: #b0b0b0;
  --ifis_green: #8EB72B;
  --ifis_green_light:#adcc64;
  --action_green:#94b541;
  --action_green_highlight:#7e9e2f;
  --grey_border: #616161;
  --font: 'Poppins'
;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  background-color: var(--ifis_green_light);
}

input {
  font-family: var(--font);
}

input:focus {
  outline: none;
  border-color: var(--action_green);
  -webkit-box-shadow: 0 0 0.5em var(--action_green);
          box-shadow: 0 0 0.5em var(--action_green);
}

select {
  font-family: var(--font);
}

select option:hover {
  color: white;
  background-color: var(--action_green);
}

p {
  margin: 0;
  font-size: 15px;
}

.popup {
  display: none;
  position: fixed;
  top: 3.5em;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.popup_dummie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.loading img {
  height: 2.5em;
  width: 2.5em;
  border-radius: 100em;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  place-content: space-around;
}

.searchbar input {
  width: 85%;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: var(--grey_border);
  background-color: white;
  border-radius: 0.25em 0 0 0.25em;
  padding-left: 0.5em;
  font-size: 16px;
}

.searchbar .autocomplete-items {
  position: absolute;
  border: 1px solid var(--grey_border);
  background-color: white;
  z-index: 99;
  width: auto;
  top: 100%;
}

.searchbar .autocomplete-items div {
  text-align: left;
  font-size: 15px;
  width: auto;
  padding: 0.5em;
  cursor: pointer;
}

.searchbar .autocomplete-items div:hover {
  background-color: var(--grey_light1);
}

.searchbar .autocomplete-active {
  background-color: var(--grey_light1) !important;
}

.searchbar .button {
  background-color: var(--action_green);
  width: 15%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: var(--grey_border);
  border-radius: 0 0.25em 0.25em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchbar .button img {
  margin: 0.45em;
}

.searchbar .button:hover {
  background-color: var(--action_green_highlight);
}

.topbar {
  height: 3.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: var(--grey_light1);
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
  height: 3.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  background-color: var(--grey_light1);
  position: fixed;
  z-index: 1000;
  top: 0;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar .searchbar {
  width: 35em;
  margin: 0.6em 0 0.6em 0;
}

.navbar .nav_spacer {
  margin-right: auto;
  width: 160pt;
}

.ifislogo {
  height: inherit;
  margin-left: auto;
}
.ifislogo .img {
  height: 90%;
  margin: 0.15em;
  width: auto;
}

.content {
  margin: 3.5em 12% 5em 16%;
  background-color: white;
  padding: 2em 7% 7% 7%;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar {
  max-width: 14%;
  min-width: 12%;
  margin: 3.5em 0 5em 1%;
  background-color: white;
  padding: 1em 0.5% 3em 0.5%;
  position: fixed;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidebar p {
  text-align: center;
  font-weight: bold;
}
.sidebar .link {
  margin-top: 1em;
}
.sidebar .link a {
  color: black;
  text-decoration: none;
}
.sidebar .link:hover {
  font-weight: bold;
}

.main_page {
  padding: 8em 20% 9.5em 20%;
  text-align: center;
}

.main_page .logo {
  width: 25em;
  height: auto;
}

.main_page .searchbar {
  width: 100%;
  height: 2.75em;
}

.main_page p {
  margin-top: 2em;
  text-align: center;
}

.top_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_container .general_info {
  padding: 0;
  margin: 0 0 0 3em;
}

.top_container .general_info h1 {
  margin: 0 0 0.5em 0;
  font-size: 24px;
}

.top_container .general_info td:nth-child(1) {
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  padding: 0 1em 0 0;
}

.top_container .general_info td:nth-child(2) {
  font-size: 15px;
  text-align: left;
  padding: 0;
}

.top_container img {
  border: 1px solid var(--grey_border);
  width: 15em;
  height: 15em;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}

.top_container img:hover {
  transition: 1s;
  transform: scaleX(1.2) scaleY(1.2) translateX(20px) translateY(20px);
  background-color: white;
}

.container {
  margin-top: 2em;
  padding: 0.5em;
  background-color: var(--grey_dark1);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}

.searchbox .top_searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.searchbox .top_searchbox .top_searchbox_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchbox .top_searchbox .top_searchbox_left h2 {
  font-size: 16px;
  margin: 0;
}

.searchbox .top_searchbox .top_searchbox_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchbox .top_searchbox .top_searchbox_right .sortbar {
  background-color: white;
  margin-right: 0.5em;
  height: 1.75em;
  width: 10em;
  border: 1px solid var(--grey_border);
  border-radius: 0.25em;
  font-size: 15px;
}

.searchbox .top_searchbox .top_searchbox_right .filterbar {
  height: 1.5em;
  width: 10em;
  border: 1px solid var(--grey_border);
  background-color: white;
  border-radius: 0.25em;
  padding-left: 0.5em;
  font-size: 15px;
}

.searchbox .bottom_searchbox {
  margin: 0.5em 0 0 0;
  overflow-y: auto;
  height: auto;
  max-height: 15em;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-top: 1px solid var(--grey_border);
}

.searchbox .bottom_searchbox div {
  background-color: var(--grey_light2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
  padding: 0.33em;
  border-radius: 0.33em;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}

.searchbox .bottom_searchbox div .phase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.5em;
}

.searchbox .bottom_searchbox div .phase img {
  width: 1.25em;
  height: 1.25em;
}

.searchbox .bottom_searchbox div .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0.75em;
  margin: 0 0 0 0.5em;
  border-radius: 0.75em;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.searchbox .bottom_searchbox div .count a {
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.news h2 {
  font-size: 16px;
  margin: 0;
}

.news .news_bottom {
  margin-top: 0.5em;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-top: 1px solid var(--grey_border);
}

.news .news_bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: space-between;
  cursor: pointer;
  background-color: var(--grey_light2);
  width: 18em;
  margin: 0.75em 0 0.75em 0.75em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0.5em;
  border-radius: 0.33em;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}

.news .news_bottom div h2 {
  font-size: 15px;
}

.news .news_bottom div .journal {
  margin-top: 0.5em;
  font-size: 15px;
}

.news .news_bottom div .date {
  margin-top: 0.5em;
  font-size: 15px;
  font-style: italic;
}

.news .news_bottom div:hover {
  background-color: var(--grey_green);
}

.newsdetail {
  background-color: white;
  margin: 3% 11% 6% 11%;
  padding: 1em;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
}

.newsdetail .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5em;
}

.newsdetail .top div {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1em;
}

.newsdetail .top div img {
  height: 1.5em;
  width: 1.5em;
}

.newsdetail .top div:hover {
  background-color: var(--grey_dark1);
}

.newsdetail .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95%;
  margin-top: 1em;
  border-top: 1px solid var(--grey_border);
}

.newsdetail .bottom .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10%;
  padding: 0.75em;
}

.newsdetail .bottom .checkbox div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0 2px 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0.33em;
  margin-bottom: 0.75em;
  padding: 0.2em;
}

.newsdetail .bottom .checkbox div input {
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
}

.newsdetail .bottom .checkbox div label {
  margin-left: 0.33em;
  font-size: 16px;
}

.newsdetail .bottom .paper {
  overflow-y: scroll;
  width: 47%;
  padding: 0.75em 1.5em 0.75em 1.5em;
}

.newsdetail .bottom .paper a:link, .newsdetail .bottom .paper a:visited {
  border-radius: 0.33em;
  text-decoration: none;
  color: black;
}

.newsdetail .bottom .paper h2 {
  font-size: 22px;
  margin: 0;
}

.newsdetail .bottom .paper .author {
  margin-top: 0.75em;
  font-size: 15px;
}

.newsdetail .bottom .paper .journal {
  border-top: 1px solid var(--grey_border);
  margin-top: 1em;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

.newsdetail .bottom .paper .date {
  margin-top: 0.5em;
  font-size: 15px;
  font-style: italic;
  border-bottom: 1px solid var(--grey_border);
  text-align: center;
}

.newsdetail .bottom .paper .abstract {
  font-size: 16px;
  margin-top: 1em;
}

.newsdetail .bottom .graph {
  background-color: #eeeeee;
  border: 1px solid var(--grey_border);
  border-top: 0;
  margin: 0 0.75em 0.75em 0;
  height: 100%;
  width: 43%;
}
/*# sourceMappingURL=style.css.map */