body {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  width: available;
  height: 100%;
  color: black;
  background-color: rgb(212, 212, 212);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: rgb(212, 212, 212);
}

.container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #009879;
  border-radius: 25px;
  color: white;
  width: 100%;
  margin: 0.5em;
}

.container .panel_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
  padding: 1em;
  margin: 0.5em;
  height: fit-content;
  width: auto;
}

.section label {
  width: 100%
}

.section datalist {
  display: flex;
  font-size: 0.6em;
  justify-content: space-between;
  color: black;
  width: 100%;
}

.sliderticks {
  font-size: 0.6em;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  height: 10px;
  margin: 0;
  white-space: nowrap;
}

.section input {
  width: 100%;
}

.tableFixHead {
  margin: 25px 0;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100px;
  max-height: 400px;
}

.queryTable {
  width: 450px;
  border-spacing: 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.queryTable tr:first-of-type th:first-child {
  -webkit-border-radius: 15px 0 0 0;
}

.queryTable tr:first-of-type th:last-child {
  -webkit-border-radius: 0 15px 0 0;
}

.queryTable thead tr {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.queryTable th {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 12px 15px;
}

.queryTable td {
  padding: 12px 15px;
}

.queryTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #009879;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #009879;
  cursor: pointer;
}

#myChart {
  width: 100%;
  min-width: 420px;
  margin-top: 4%;
}