html {
  scroll-behavior: smooth;
}

body{
    padding-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
}

.wrapper:before {
    height: 54px;
    content: "";
    display:block;
}

.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    display:flex;
}

.mask {
    width: 100% !important;
    height: 100% !important;
}

/* smoother transitions */
.carousel-inner>.carousel-item.next.left, .carousel-inner>.carousel-item.prev.right {
    transition: all 1s ease;
}

.carousel {
    margin: 0% 2% 2%;
    color: black;
}

.carousel-inner .card-body {
    font-family: 'Noto Serif Lao', serif;
}

.card-header {
    font-size: xx-large !important;
}

.card-body .card-text {
    font-size: large;
}

.wrapper {
    width: 95% !important;
    margin-top: 2% !important;
}

#headline {
    font-family: 'Barlow', sans-serif;
    font-size: xxx-large;
    color: white;
    text-shadow: #000 1px 0 10px;
}

.card-header {
    font-family: 'Barlow Condensed', sans-serif;
}

#awards, #awards-item {
    display:None;
}

#header-div {
    height: 250px;
    position: relative;
}

#bg-img {
    max-height: 250px;
    pobject-fit: cover;
}

#header-img-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
}

#person-drop-button, #person-dropdown {
    color: white;
}