.title_con {
  display: inline-block;
  font-weight: 200;
  font-size: 20px;
  color: #fff;
  background-color: #0d6efd;
  text-align: center;
  text-decoration: none;
  border: hidden;
  vertical-align: middle;
  padding:8px;
  border-collapse: separate;
  border-radius: 4px;
}

.team-member {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.team-member img {
  border-radius: 50%;
  width: 128px;
  height: 128px;
  margin-bottom: 10px;

}

.team-member p {
  margin-bottom: 5px;
}

.team-member a {
  text-decoration: none;
  color: #007bff;
}

.name-text {
  font-weight: bold;
  font-size: 19px;
}
