.title_con {
  display: inline-block;
  font-weight: 200;
  font-size: 20px;
  color: #fff;
  background-color: #0d6efd;
  text-align: center;
  text-decoration: none;
  border: hidden;
  vertical-align: middle;
  padding:8px;
  border-collapse: separate;
  border-radius: 4px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.img_container {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  margin: 1rem;
  border-radius: 0.5rem;
  overflow: clip;
}

.mail {
  color: white;
}

.mail:hover {
  color:darkgrey;
}

.overlay {
  background-color: #0d6efdcc;
  padding: 0.25rem 0.5rem;
}

.text {
  color: white;
  font-size: 16px;
}