.margin-top {
    margin-top: 50px;
}

#query_translation {
    white-space: pre-wrap;
}

.wrapper-div {
    overflow: auto;
}

.inner-div-left-mid {
    width: fit-content;
    float: left;
    margin-right: 15px
}

.inner-div-right-most {
    float: left;
}

.graph-pattern {
    width: 200px;
    height: 200px;
    display: block;
}

.graph-pattern p {
    text-align: center;
    text-transform: uppercase;
    color: #4f4f4f;
}

.graph-pattern p span {
    font-size: 1.1rem;
    display: block;
}

.graph-pattern p span:first-child {
    font-size: 2.0rem;
    margin-top: 62px;
}

/*
.active:after {
  content: "\2796"; // Unicode character for "minus" sign (-)
}*/


[type=radio] + div {
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #fff;

    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

[type=radio]:hover + div {
    background: #ebebeb;
}

[type=radio]:checked + div {
    border: 3px solid #8EB72B;
}

.form-check {
    padding-left: 0;
    padding-right: 10px;
    display: inline-block;
}

#help_search {
    display: none;
}

.feedbackbtn {
    position: fixed;
    bottom: 5px;
    right: 10px;
}

.insideWrapper{
    width:100%; height:100%;
    position:relative;}

.coveringCanvas{
    width:100%; height:100%;
    position:absolute; top:0px; left:0px;
    cursor: crosshair;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

#reportSpinner {display:none}
.busy {display:inline-block !important;}